@model MainWork.tProduct

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    * {
        font-family: "微軟正黑體";
    }

    .demoPanel {
        position: relative;
        width: 500px;
        height: 30px;
        background: #252525;
        margin: 10px;
        padding: 5px;
        border-radius:5px;
        text-align:center;
    }

    .demoSlider {
        -webkit-appearance: none;
        display: inline-block;
        border-radius: 50px;
        width: 70%;
        height: 5px;
        outline: none;
        margin: 10px;
    }

        .slider-range::-webkit-slider-thumb,
        .demoSlider::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 10px;
            height: 10px;
            background: rgb(201, 201, 201);
            border-radius: 50%;
            transition: 0.2s;
        }

            .demoSlider::-webkit-slider-thumb:hover {
                cursor: pointer;
                width: 14px;
                height: 14px;
            }

    .demoSlider,
    .vbtn {
        cursor: pointer;
    }

    .vbtn {
        display:inline-block;
        position:relative;
        top:4px;
    }

        .vbtn img {
            width: 20px;
            height: 15px;
            filter: invert();
        }

    .demoPanel span {
        display:inline-block;
        position:relative;
        top:3px;
        color: white;
    }
</style>

<div class="demoPanel">
    <audio class="demoAudio" src="@Model.fFilePath"></audio>
    <span class="nowTime">00:00</span>
    <input type="range" class="demoSlider" min="@Model.fPlayStart" max="@Model.fPlayEnd" step="0.01" value="@Model.fPlayStart">
    <span class="endTime">00:00</span>
    <div class="vbtn dplay"-><img src="/PlayerImg/play.png"></div>
    <div class="vbtn dpause"><img src="/PlayerImg/pause.png"></div>
</div>

<script>
    $(".nowTime").text(getTimeText(@Model.fPlayStart));
    $(".endTime").text(getTimeText(@Model.fPlayEnd));

    var dplaying = false;
    var fileName;

    $(".dpause").css("display", "none");
    var demoMusic = $(".demoAudio")[0];
    demoMusic.volume = 0.6;

    //播放器的timer
    $(".demoAudio").on("timeupdate", function () {
        $(".demoSlider").prop("value", demoMusic.currentTime);
        let now = parseInt(demoMusic.currentTime);
        $(".nowDemo").text(getTimeText(now));
        if (demoMusic.currentTime > $(".demoSlider").attr("max")) {
            demoMusic.pause();
            dplaying = false;
            $(".dplay").css("display", "inline-block");
            $(".dpause").css("display", "none")
            demoMusic.currentTime = $(".demoSlider").attr("min"))
        }
        //試聽淡入效果(因為設定上淡入三秒淡出四秒，所以要是試聽時間在七秒內會出現音量bug)
        if (demoMusic.currentTime < demoStart + 3) {
            demoMusic.volume = (demoMusic.currentTime - demoStart) * 0.2;
        }
        //試聽淡出效果
        else if (demoMusic.currentTime + 7 > demoEnd) {
            demoMusic.volume = (demoEnd - demoMusic.currentTime) * 0.1;
        }
        else {
            demoMusic.volume = 0.6;
        }
    });

    //音樂播放暫停鍵
    $(".vbtn").on("click", function () {
        if ($(this).prop("class") == "vbtn dplay") {
            demoMusic.play();
            dplaying = true;
            $(".dplay").css("display", "none");
            $(".dpause").css("display", "inline-block")
        }
        else if ($(this).prop("class") == "vbtn dpause") {
            demoMusic.pause();
            dplaying = false;
            $(".dplay").css("display", "inline-block");
            $(".dpause").css("display", "none")
        }
    })

    //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
    //測試時直接讀取本頁會造成進度條出現bug，從別頁進來則不會，推測是jquery重複讀取的關係，暫無解(但一般使用者也不會直接進入這頁)
    $(".demoSlider").on('input', function () {
        demoMusic.pause();
        $(this).trigger("change");
    })
    //音樂進度條改變
    $(".demoSlider").on("change", function () {
        demoMusic.currentTime = this.value;
    });
    //拖動進度條直到放開滑鼠才重新開始播放
    $(".demoSlider").on("mouseup", function () {
        if (dplaying)
            demoMusic.play();
    });

    //取得音樂時間文字的方法(第二個有給到小數後兩位)
    function getTimeText(num) {
        let m1 = parseInt(num / 600);
        let m2 = parseInt(num / 60 % 10);
        let s1 = parseInt(num % 60 / 10);
        let s2 = parseInt(num % 60 % 10);
        return `${m1}${m2}:${s1}${s2}`;
    }
</script>
