@model List<MainWork.tPurchaseItem>
@using MainWork.Models

@{
    ViewBag.Title = "ShoppingCart";
    if (ViewBag.ajax != null)
    {
        Layout = null;
    }
    int totalprice = 0;
    var modata = Model.GroupBy(p => p.tProduct.fAlbumID);
    var account = Session[CDictionary.SK_ACCOUNT].ToString();
    var member = (new dbProjectMusicStoreEntities()).tMembers.FirstOrDefault(m => m.fAccount == account);
}

<style>
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
    }
        #paypalOutBox {
        float:right;
        position: relative;
    }
    #paypal-button-container {
        margin: 20px;
        width:200px;
    }
        #paypal-button-container > *{
            position: relative;
            right:0;
            width:50px;
        }

        .row {
            height: 40px;
        }

    #dis {
        margin: 30px
    }
</style>

@* 額外新增 *@
<style>
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #838383;
    }

    .tableTitle {
        background-color: #43477d;
        background-image: linear-gradient(to bottom,#16161660 10%,#43477d);
        font-size:18px;
        
    }

        .trItem:hover {
            background-color: #828282;
        }

    .buyItem > td {
        text-align: center;
        vertical-align:middle;
        line-height:110px;
    }
        td > div{
            padding-top:6px;
        }
    td > img {
        width: 120px;
        height: 120px;
    }
    .cartId {
        background-color: #3f7cbe;
        background-image: linear-gradient(to bottom,#16161650 10%,#2d72bd)
    }
    .title{
        margin:20px 8%;
    }
</style>
    
<div class="tabcontent eventMenu pb-3">
    <div class="h1 font-weight-bold title">我的購物車</div>
    <table class="table col-10 mx-auto mt-3 table-bordered text-center">
        <thead>
            <tr class="tableTitle">
                <th scope="col">訂單編號</th>
                <th scope="col">訂購日期</th>
                <th scope="col">專輯封面</th>
                <th scope="col">音樂名稱</th>
                <th scope="col">金額</th>
                <th scope="col">刪除</th>
            </tr>
        </thead>
        <tbody class="buyList">
            @if (modata.FirstOrDefault() == null)
            {
                <tr><td class="bg-dark" colspan="6">您的購物車裡沒有任何東西喔</td></tr>
            }

            @foreach (var x in modata)
            {
                foreach (var item in x)
                {
                    <tr class="buyItem">
                        <td class="cartId" data-name="Cid">
                            <div>
                                @if (item.fisAlbum != 0)
                                {
                                    @(item.fPurchaseItemID)@(item.tProduct.fAlbumID)

                                }
                                else
                                {
                                    @(item.fPurchaseItemID)@(item.fProductID)
                                }
                            </div>
                        </td>
                        <td class="bg-dark" data-name="Member">
                            <div>@item.fDate</div>
                        </td>
                        <td class="bg-dark"> <img src="~/CoverFiles/@item.tProduct.tAlbum.fCoverPath" /></td>
                        <td class="bg-dark" data-name="pName">
                            <div>
                                @if (item.fisAlbum != 0)
                                {
                                    @item.tProduct.tAlbum.fAlbumName
                                }
                                else
                                {
                                    @item.tProduct.fProductName
                                }
                            </div>
                        </td>
                        <td class="bg-dark" data-name="Price">
                            @if (item.fisAlbum != 0)
                            {
                                <span>NT$</span><div class="price d-inline-block">@(Convert.ToInt32((double)item.tProduct.tAlbum.fALPrice * item.tProduct.tAlbum.fDiscount.Value))</div>

                            }
                            else
                            {
                                <span>NT$</span><div class="price d-inline-block">@(Convert.ToInt32((double)item.fPrice.Value * item.tProduct.tAlbum.fDiscount.Value))</div>

                            }
                        </td>

                        <td class="bg-dark">
                            <input class="btn btn-primary" type="button" name="deletebtn" value="刪除" data-products="@item.fProductID" data-cartid="@item.fPurchaseItemID" />
                        </td>
                    </tr>

                    if (item.fisAlbum != 0)
                    {
                        totalprice += Convert.ToInt32((double)item.tProduct.tAlbum.fALPrice * item.tProduct.tAlbum.fDiscount.Value);
                    }
                    else
                    {
                        totalprice += Convert.ToInt32((double)item.fPrice.Value * item.tProduct.tAlbum.fDiscount.Value);
                    }
                    if (item.fisAlbum != 0)
                    {
                        break;
                    }
                }

            }

            @if (Model.Count != 0)
            {
                <tr>
                    <td colspan="6" class="text-right bg-dark">
                        <div>
                            <div class="mr-4">帳戶剩餘點數: @Convert.ToInt32(member.fMoney)</div>
                            <div id="dis" class="mr-4">
                                使用點數折價 : <input class="text-black-50 ml-2" type="number" name="discount" />
                                <span class="disinfo  mr-3">請輸入數量</span>
                                <input type="button" value="確認" class="btn btn-info chdisc" />
                            </div>
                            <div class="mr-4">總金額: NT$@totalprice </div>
                            <div class="mr-4 reduce"></div>
                            <div class="mr-4 sum"></div>
                        </div>
                        <div class="text-right" id="paypalOutBox">
                            <div id="paypal-button-container"></div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    @if (Model.Count != 0)
    {
        
        @:var totalPrice = '@totalprice';
        @:var shopcarid = '@Model[0].fPurchaseItemID';
    }
    var discon = 0;
    //擅自新增的
    history.state.cname = '@account';
    history.replaceState(history.state,null);
    $("input[name='discount']").attr("max",@Convert.ToInt32(member.fMoney))
    $("input[name='discount']").attr("min", 0);
    $("input[name='discount']").val(0);
    //先隔開


    $("input[name='discount']").on("keydown", function (e) {
            console.log(e.keyCode);
            if (e.keyCode == 8 || (e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 97 && e.keyCode <= 105) || e.keyCode == 96)
            { return true; } else { return false; }
        })

    @*$("input[name='deletebtn']").on("click", function () {
        if (confirm("確定刪除?")) {
            $.post("@Url.Action("DelCart", "tShoppingCart")",
                        { "pID": $(this).data("products"), "cID": $(this).data("cartid") },
                function (data) {
                    alert(data);

                })
            totalPrice = totalPrice - $(this).parents(".row").find(".price").text();
            $(this).parents("tr").remove();
        }
    })*@

    $("input[name='deletebtn']").on("click", function () {
        //if (confirm("確定刪除?")) {
            $.post("@Url.Action("DelCart", "tShoppingCart")",
                { "pID": $(this).data("products"), "cID": $(this).data("cartid") },
                function (data) {
                })
            totalPrice = totalPrice - $(this).parents(".buyItem").find(".price").text();
            console.log($(this).parents(".row").find(".price").text())
            console.log(totalPrice);
        $(this).parents("tr").remove();
        if ($(".buyList").find(".buyItem").length == 0) {
            $(".buyList").html('<tr><td class="bg-dark" colspan="6">您的購物車裡沒有任何東西喔</td></tr>');
        }
        //}
    })

    @*$(".chdisc").on("click", function () {
        if ($(this).val() == "確認") {
            $.post("@Url.Action("CheckDis","tShoppingCart")", { "cname": "aaa" },
                function (data) {
                    if (data - $("input[name='discount']").val() >= 0) {
                        $(".disinfo").text("OK");
                        $("#paypal-button-container").show();
                        $("input[name='discount']").attr('disabled', true);
                        $(".chdisc").val("修改");
                    }
                })
        }
        else if ($(this).val() == "修改") {
            $("input[name='discount']").attr('disabled', false);
            $(".chdisc").val("確認")
        }
    });*@
    $("#paypalOutBox").hide();
    $(".chdisc").on("click", function disck() {
        if ($(".chdisc").val() == "確認") {
            $.post("@Url.Action("CheckDis","tShoppingCart")", { "cname": "aaa" },
                function (data) {
                    if ((data - $("input[name='discount']").val()) >= 0) {
                        if ((totalPrice - $("input[name='discount']").val()) > 0) {
                            $(".disinfo").text("OK");
                            discon = $("input[name='discount']").val();
                            $("input[name='discount']").attr('disabled', true);
                            $(".chdisc").val("修改");
                            $(".reduce").text(`-${discon}`);
                            $(".sum").text(`=NT$${totalPrice - discon}`)


                            $("#paypalOutBox").show()
                        }
                        else {
                            alert("折扣最低只能降到1喔");

                        }
                    } else {
                        alert("你沒那麼多剩餘點數喔");

                    }
                });
        }
        else if ($(".chdisc").val() == "修改") {
            $(".disinfo").text("修改中");
            $("input[name='discount']").attr('disabled', false);
            $(".chdisc").val("確認");
            $(".reduce").text("");
            $(".sum").text("");
            $("#paypalOutBox").hide();
        }
    })
    
                       
    paypal.Buttons({
      //      onInit: function(data, actions) {
      //// Disable the buttons
            
      //// Listen for changes to the checkbox
             
      //            // Enable or disable the button when it is checked or unchecked
      //         });
      //      },    
            style: {
                layout: 'horizontal',
                color: 'gold',
                shape: 'pill',
                label: 'paypal',
                tagline: 'false',
                height:30
            },
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalPrice - discon
                        }
                    }]
                });
            },
            // Finalize the transaction
            onApprove: function (data, actions) {
                $.post("@Url.Action("BuyCheck", "tShoppingCart")", {shopcartid:shopcarid,dis:discon,ajax:true},
                    function (data) {$(".mainbox").html(data)})
            },
        }).render('#paypal-button-container');

    //總之先保留舊的
    @*paypal.Buttons({
        style: {
            layout: 'horizontal',
            color: 'gold',
            shape: 'pill',
            label: 'paypal',
            tagline: 'false',
            height:30
        },
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: totalPrice - $("input[name='discount']").val()
                    }
                }]
            });
        },
        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            }).then(
                $.post("@Url.Action("BuyCheck", "tShoppingCart")", { "shopcarid": shopcarid, "ajax": true },
                    function (data) { console.log(data)}));
            }
    }).render('#paypal-button-container')*@


</script>
