@model List<MainWork.tPurchaseItem>

@{
    ViewBag.Title = "ShoppingCart";
    if (ViewBag.ajax != null)
    {
        Layout = null;
    }
    int totalprice = (int)Model.Sum(p => (double)p.fPrice * p.tProduct.tAlbum.fDiscount).Value;
    var modata = Model.GroupBy(p => p.fisAlbum);
}

<style>
    #paypal-button-container {
        margin: 20px;
    }

    .row {
        height: 40px;
    }

    #dis {
        margin: 30px
    }
</style>


<h2>ShoppingCart</h2>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col bg-dark">訂單編號</div>
            <div class="col bg-danger">音樂名稱</div>
            <div class="col bg-dark">金額</div>
            <div class="col bg-danger">訂購日期</div>
            <div class="col"></div>
        </div>
        @if (Model.Count != 0)
        {

            foreach (var y in modata)
            {
                foreach (var x in y)
                {
                    <div class="row">
                        <div class="col bg-danger" data-name="Cid">
                            <span>
                                @if (x.fisAlbum == 1)
                                {@(x.fPurchaseItemID)@(x.tProduct.fAlbumID)}
                            else
                            {@(x.fPurchaseItemID)@(x.fProductID)}
                        </span>
                    </div>
                    <div class="col bg-dark" data-name="pName">
                        <span>
                            @if (x.fisAlbum == 1)
                            {@x.tProduct.tAlbum.fAlbumName}
                        else
                        {@x.tProduct.fProductName}
                        </span>
                    </div>
                    <div class="col bg-danger" data-name="Price">
                        <span class="price">@((int)((double)x.fPrice.Value * x.tProduct.tAlbum.fDiscount.Value))</span>
                    </div>
                    <div class="col bg-dark" data-name="Member">
                        <span>@x.fDate</span>
                    </div>
                    <div class="col ">
                        <input class="btn btn-primary" type="button" name="deletebtn" value="刪除" data-products="@x.fProductID" data-cartid="@x.fPurchaseItemID" />
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col" id="dis">積分兌換:<input class="text-black-50" type="tel" name="discount" /><span class="disinfo">請輸入數量</span><input type="button" value="確認" class="btn btn-primary chdisc" /></div>
            <div id="paypal-button-container" class="col"></div>
            <div class="col"></div>
        </div>
    }
    </div>

}



@if (Model.Count != 0)
{
    <script>

    var totalPrice = @totalprice;
    var shopcarid =  @Model[0].fPurchaseItemID;

        $("input[name='deletebtn']").on("click", function () {
        if (confirm("確定刪除?")) {
                $.post("@Url.Action("DelCart", "tShoppingCart")",
                    { "pID": $(this).data("products"), "cID": $(this).data("cartid") },
                    function (data) {
                        alert(data);

                    })
                totalPrice = totalPrice - $(this).parents(".row").find(".price").text();
                console.log($(this).parents(".row").find(".price").text())
                console.log(totalPrice);
                $(this).parents(".row").remove();
            }

        })
        $("#paypal-button-container").hide()
        $(".chdisc").on("click", function () {
            if ($(this).val() == "確認") {
                $.post("@Url.Action("CheckDis","tShoppingCart")", { "cname": "aaa" },
                    function (data) {
                        if (data - $("input[name='discount']").val() >= 0) {
                            $(".disinfo").text("OK");
                            $("#paypal-button-container").show();
                            $("input[name='discount']").attr('disabled', true);
                            $(".chdisc").val("修改");
                        }
                    })
            }
            else if ($(this).val() == "修改") {
                $("input[name='discount']").attr('disabled', false);
                                $("#paypal-button-container").hide();
                                $(".chdisc").val("確認")
            }
        });
      paypal.Buttons({
          style: {
              layout: 'horizontal',
              color: 'blue',
              shape: 'pill',
              label: 'buynow'
          },
            // Set up the transaction
          createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalPrice - $("input[name='discount']").val()
                        }
                    }]
                });
            },
            // Finalize the transaction
          onApprove: function (data, actions) {
              return actions.order.capture().then(function (details) {
                  // Show a success message to the buyer
                  alert('Transaction completed by ' + details.payer.name.given_name + '!');
              }).then($.post("@Url.Action("BuyCheck", "tShoppingCart")", { "shopcarid": shopcarid ,"ajax":true},
                      function (data) { console.log(data)}));
              }
      }).render('#paypal-button-container')

    </script>
}

