@model IEnumerable<MainWork.tAlbum>
@{
    Layout = null;
}
<style>


    /*商品box開始*/

    .albumname {
        width: 200px;
        height: 45px;
        overflow: hidden; /*超出範圍的部分隱藏*/
        text-overflow: ellipsis; /*出現省略號*/
        white-space: nowrap;
    }

    .productitem {
        margin: 15px 15px 0px 0px;
        padding: 15px 15px 25px 15px;
        background-color: #3e3b3b;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.4s;
        opacity: 0;
    }

        .productitem:hover {
            background-color: dimgray;
        }

    .headtitle {
        margin: 45px 0px 10px 10px;
    }

    .animation {
        opacity: 1;
    }

    .cover > img {
        width: 200px;
        height: 200px;
        display: inline-block;
        background-size: cover;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    /*商品box結束*/
</style>
<div>
    <div class="h1 headtitle font-weight-bold">你的所有販售中專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 2))
            {

                <td class="productitem">
                    <a class="productitemhy" href="~/Album/AlbumInfo?amid=@Html.DisplayFor(modelItem => item.fAlbumID)">
                        <fieldset>
                            <table>
                                <tr><td><div class="cover"><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></div></td></tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>
                    </a>
                </td>
            }
        </tr>
    </table>
    <div class="h1 headtitle font-weight-bold">你的所有送審中專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 1))
            {

                <td class="productitem">
                    <a class="productitemhy" href="~/Album/AlbumInfo?amid=@Html.DisplayFor(modelItem => item.fAlbumID)">
                        <fieldset>
                            <table>
                                <tr>
                                    <td>
                                        <div class="cover">
                                            <img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>
                    </a>
                </td>
            }
        </tr>
    </table>
    <div class="h1 headtitle font-weight-bold">你的所有待上架專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 0))
            {

                <td class="productitem">
                    <a class="productitemhy" href="@Url.Action("AlbumInfo","Album")?amid=@Html.DisplayFor(modelItem => item.fAlbumID)" data-sid="@Html.DisplayFor(modelItem => item.fAlbumID)">
                        <fieldset>
                            <table>
                                <tr>
                                    <td>
                                        <div class="cover">
                                            <img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>
                    </a>
                </td>
            }
        </tr>
    </table>
</div>
<script>
    setTimeout(function () {
        $(".productitem").addClass("animation");
    }, 200)
    //?amid=${amid}
    $(".productitemhy").on("click", function (e) {
        e.preventDefault();
        let amid = $(this).data("sid");
        let url = `${$(this).attr("href")}`;
        let stateObj = { amid: amid, ajax: true };
        $.ajax({
            url: url,
            data: stateObj,
            type: "post",
            beforeSend: function () {
                $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
            },
            success: function (data) {
                console.log(data)
                $(".mainbox").html(data);
                $(window).scrollTop(0);
            }
        })
        history.pushState(stateObj, null, url);
        let title = $(this).data("title");
        document.title = title;
    })
</script>