@model IEnumerable<MusicPrj.tAlbum>

@{
    Layout = null;
}
<style>

    /*商品box開始*/

    .albumname {
        width: 200px;
        height: 45px;
        overflow: hidden; /*超出範圍的部分隱藏*/
        text-overflow: ellipsis; /*出現省略號*/
        white-space: nowrap;
    }

    .productitem {
        float: left;
        color: white;
        margin-left: 10px;
        margin-bottom: 0.5%;
        font-family: 微軟正黑體;
        background-color: #444444;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.4s;
        opacity: 0;
    }

        .productitem:hover {
            background-color: dimgray;
        }

    .productitemhy:link {
        color: white;
        text-decoration: none;
    }

    .productitemhy:visited {
        color: white;
    }

    .headtitle {
        color: white;
        margin-left: 20px;
        padding-bottom: 20px;
        font-family: 微軟正黑體;
    }

    .animation {
        opacity: 1;
    }
    /*商品box結束*/
</style>

<div>
    <div class="h1 headtitle">你的所有販售中專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 2))
            {

                <td class="productitem">
                    <a class="productitemhy" href="~/Album/AlbumInfo?amid=@Html.DisplayFor(modelItem => item.fAlbumID)">

                        <fieldset style="height:300px;border-radius:10px;padding:5px;">
                            <table>
                                <tr><td><div style="width:200px;height:200px"><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></div></td></tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>

                    </a>
                </td>
            }
        </tr>
    </table>
    <div class="h1 headtitle">你的所有送審中專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 1))
            {

                <td class="productitem">
                    <a class="productitemhy" href="~/Album/AlbumInfo?amid=@Html.DisplayFor(modelItem => item.fAlbumID)">

                        <fieldset style="height:300px;border-radius:10px;padding:5px;">
                            <table>
                                <tr><td><div style="width:200px;height:200px"><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></div></td></tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>

                    </a>
                </td>
            }
        </tr>
    </table>
    <div class="h1 headtitle">你的所有待上架專輯</div>
    <table>
        <tr>
            @foreach (var item in Model.Where(p => p.fStatus == 0))
            {

                <td class="productitem">

                    <a class="productitemhy" href="@Url.Action("AlbumInfo","Album")?amid=@Html.DisplayFor(modelItem => item.fAlbumID)" data-sid="@Html.DisplayFor(modelItem => item.fAlbumID)">
                        <fieldset style="border:1px solid;height:300px;border-radius:5px;padding:5px;">
                            <table>
                                <tr><td><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></td></tr>
                                <tr>
                                    <td>
                                        <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                    </td>
                                </tr>
                                <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                            </table>
                        </fieldset>

                    </a>
                </td>
            }
        </tr>
    </table>
</div>


@*<div class="h1 headtitle">所有專輯</div>
<table>
    <tr>

        @foreach (var item in Model)
        {

            <td class="productitem">
                <a class="productitemhy" href="@Url.Action("AlbumDetail","Album")?amid=@Html.DisplayFor(modelItem => item.fAlbumID)" data-singid="@Html.DisplayFor(modelItem => item.fAlbumID)">

                    <fieldset style="height:300px;border-radius:10px;padding:5px;">
                        <table>
                            <tr><td><img src="~/CoverFiles/@Html.DisplayFor(modelItem => item.fCoverPath)" width="200" height="200" /></td></tr>
                            <tr>
                                <td>
                                    <div class="albumname" title="@Html.DisplayFor(modelItem => item.fAlbumName)">@Html.DisplayFor(modelItem => item.fAlbumName)</div>
                                </td>
                            </tr>
                            <tr><td>@Html.DisplayFor(modelItem => item.fMaker)</td></tr>
                        </table>
                    </fieldset>
                </a>

            </td>
        }
    </tr>
</table>*@

<script>

    setTimeout(function () {
        $(".productitem").addClass("animation");
    }, 200)

    //?amid=${amid}
    $(".productitemhy").on("click", function (e) {
        e.preventDefault();
        let amid = $(this).data("sid");
        let url = `${$(this).attr("href")}`;
        let stateObj = { amid: amid, ajax: true };
        $.ajax({
            url: url,
            data: stateObj,
            type: "post",
            beforeSend: function () {
                $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
            },
            success: function (data) {
                $(".mainbox").html(data);
                $(window).scrollTop(0);
            }
        })
        history.pushState(stateObj, null, url);
        let title = $(this).data("title");
        document.title = title;


    })
</script>