@model IEnumerable<MainWork.tProduct>
@using MainWork.Models;

@{
    if (Request.IsAjaxRequest() == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
    ViewBag.Title = "AlbumDetail2";
    var AlbInfo = ViewBag.AlbInfo as tAlbum;
    var account = "";
    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        //          Response.Redirect("~/Index/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
    }
    tProduct tP = new tProduct();
}
<!--商品詳細頁-->
<style>
    /*albuminfo開始*/
    /*專輯圖/介紹開始*/
    .albumset {
        display: inline-block;
        margin-left: 5%;
        margin-top: 1%;
        width: 30%;
    }
    /*專輯圖/介紹*/
    /*單曲列表開始*/
    .albumtext {
        text-align: center;
        color: white;
        font-family: 微軟正黑體;
        margin-top: 3%;
        font-weight: 600;
    }
    /*單曲列表結束*/
    /*albuminfo結束*/
    /*MyAlbumList開始*/
    /*摺疊樣式開始*/
    .musicsPanel {
        display: inline-block;
        vertical-align: top;
        /*width:70%;*/
        min-width: 700px;
        margin-left: 50px;
    }

    .fold-title {
        background-color: #eaeaea;
        padding: 10px;
        color: #525252;
        margin-bottom: 0;
        width: 100%
    }

        .fold-title * {
            color: black;
        }

    .fold {
        line-height: 17pt;
        width: 100%
    }

    .fold-container {
        padding: 10px 10px 0px 30px;
        border: solid #f3f3f3 2px;
    }
    /*摺疊樣式結束*/
    /*MyAlbumList結束*/
    /*當滑鼠滑到該元素上，底下的兩個子元素會有變化的寫法*/
    .fa:hover, .fas:hover {
        color: #525252;
    }

    .fa, .fas {
        /*margin: 10px 20px;*/
        /*color: #000000;*/
        transition: 0.4s;
        cursor: pointer;
    }

    /*額外新增03/07/2020*/
    .albumCover {
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

        .albumCover > img {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-size: cover;
        }

    .textBox {
        width: 350px;
        margin: 10px auto;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .discount {
        color: red;
    }
</style>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="albumset">
    <div class="albumCover"><img src="~/CoverFiles/@AlbInfo.fCoverPath" /></div>
    <h3 class="albumtext"><b>@AlbInfo.fAlbumName</b></h3>
    @*<h4 class="albumtext"><b>@AlbInfo.fMaker</b> </h4>*@
    @*<div><h4 class="albumtext">共 @(Model.Count()) 首</h4></div>*@

    @* 新增:如有折扣顯示紅字折扣價03/07/2020 *@
    <div class="textBox">
        @if (AlbInfo.fDiscount != 1)
        {
            <div class="mb-4">
                專輯售價：
                <del>$@($"{AlbInfo.fALPrice:#}") </del>
                <span class="discount"> $@($"{(float)AlbInfo.fALPrice * AlbInfo.fDiscount:#}") Now!</span>
                <i data-albumid="@AlbInfo.fAlbumID" class="fas fa-cart-arrow-down addThisAlbumToCart fa-2x"></i>
            </div>
        }
        else
        {
            <div class="mb-4">
                專輯售價：$@($"{AlbInfo.fALPrice:#}")
                <i data-albumid="@AlbInfo.fAlbumID" class="fas fa-cart-arrow-down addThisAlbumToCart  fa-2x"></i>
            </div>
        }
        @if (@AlbInfo.fMaker != null)
        {
            <div>— 社團 —</div>
            <div class="mb-4"><b>@AlbInfo.fMaker</b></div>
        }
        <div>— 分類 —</div>
        <div class="mb-4">@(AlbInfo.tAlbumType.fTypeName)</div>
        <div>— 音樂風格 —</div>
        <div>@(AlbInfo.fKinds.Replace(",", "、"))</div>

        <div class="mt-4">
            <small class="font-weight-bolder">上傳者: @AlbInfo.fAccount</small>
        </div>
    </div>

</div>
<div class="musicsPanel">

    @{int count = 0;}
    @foreach (var item in Model)
    {

        count++;
        <input class="privilege" type="hidden" value="@ViewBag.privilege" />
        <div class="container">
            <div style="display:inline-block" class="vbtn dplay"
                 data-singer="@Html.DisplayFor(modelItem => item.fComposer)"
                 data-songn="@Html.DisplayFor(modelItem => item.fProductName)"
                 data-soid="@item.fProductID"
                 data-start="@Html.DisplayFor(modelItem => item.fPlayStart)"
                 data-end="@Html.DisplayFor(modelItem => item.fPlayEnd)"
                 data-songcover="@item.tAlbum.fCoverPath"
                 data-playurl="@(Url.Content("~/MusicFiles/") + Html.DisplayFor(modelItem => item.fFilePath))">
            </div>
            <h4 style="display:inline-block" class="fold-title">
                <span>@(count).</span>
                <span class="foldText">@Html.DisplayFor(modelItem => item.fProductName)</span>
                <i data-songid="@item.fProductID" class="fas fa-cart-arrow-down addThisSongToCart"></i>
                <span><i data-songid="@item.fProductID" class="fa fa-plus addThisSongToPlayList"></i></span>
            </h4>
            <div class="fold">
                <div class="fold-container">
                    <span style="color:white">演唱:@Html.DisplayFor(modelItem => item.fSinger)</span>
                    <span style="color:white">  /  作曲:@Html.DisplayFor(modelItem => item.fComposer)</span>
                    @* 新增:如有折扣顯示紅字折扣價03/07/2020 *@
                    @if (AlbInfo.fDiscount != 1)
                    {
                        <span>
                            /  單曲售價:
                            <del>$@($"{(int)item.fSIPrice}")</del>
                            <span class="discount">$@($"{(float)item.fSIPrice * AlbInfo.fDiscount:#}")</span>
                        </span>
                    }
                    else
                    {
                        <span>  /  單曲售價:$@($"{(int)item.fSIPrice}")</span>
                    }
                    @Html.Action("DemoPlayer", "Player", new { musicId = item.fProductID })
                </div>
            </div>
        </div>
    }

</div>
<div class="eventNotification" hidden></div>
<script>
    $(".demoAudio").each(function () {
        this.volume = 0.6;
    })
    //讀取音樂時會進行初始化
    $(".demoAudio").on("durationchange", function () {
        let demostart = $(this).siblings(".dplay").data("start");
        let demoEnd = $(this).siblings(".dplay").data("end");
        $(this).siblings(".demoSlider").prop("min", demostart);
        $(this).siblings(".demoSlider").prop("max", demoEnd);
        $(this).siblings(".demoSlider").prop("value", demostart);
        this.currentTime = $(this).siblings(".demoSlider").prop("min");

        //03/12新增，假如判斷是包月會員，直接讓整首歌可聽
        if ($(".privilege").val() == 1) {
            $(this).siblings(".demoSlider").prop("min",0 );
            $(this).siblings(".demoSlider").prop("max", this.duration);
            $(this).siblings(".demoSlider").prop("value", 0);
            $(this).siblings(".nowTime").text("00:00");
            $(this).siblings(".endTime").text(getTimeText(this.duration));
            this.currentTime = 0;
        }
    });
    //播放器的timer
    $(".demoAudio").on("timeupdate", function () {
        $(this).siblings(".demoSlider").prop("value", this.currentTime);
        let now = parseInt(this.currentTime);
        $(this).siblings(".nowTime").text(getTimeText(now));
        //假如播完會暫停播放並回到開頭
        if (this.currentTime >= $(this).siblings(".demoSlider").attr("max")) {
            this.pause();
            $(this).data("playing", "false");
            $(this).siblings(".dplay").css("display", "inline-block");
            $(this).siblings(".dpause").css("display", "none");
            this.currentTime = $(this).siblings(".demoSlider").attr("min");
        }
        let start = $(this).siblings(".dplay").data("start");
        let end = $(this).siblings(".dplay").data("end");
        //試聽淡入效果(因為設定上淡入三秒淡出四秒，所以要是試聽時間在七秒內會出現音量bug)
        //03/12更新包月會員不會有淡入淡出效果
        if ($(".privilege").val() != 1) {
            if (this.currentTime < start + 3) {
                this.volume = (this.currentTime - start) * 0.2;
            }
            //試聽淡出效果
            else if (this.currentTime + 7 > end) {
                this.volume = (end - this.currentTime) * 0.1;
            }
            else {
                this.volume = 0.6;
            }
        }

    });
    //音樂播放暫停鍵
    $(".dplay").click(function () {
        //按下播放鍵的同時其他正在放的音樂就會暫停
        $(".dpause").trigger("click");
        $("#pause").trigger("click");
        $(this).siblings(".demoAudio")[0].play();
        $(this).siblings(".demoAudio").data("playing", "true");
        $(this).css("display", "none");
        $(this).siblings(".dpause").css("display", "inline-block");
        console.log($(this).data('soid'));
        $.post('@Url.Action("tryMusicCount","Statistic")', { pid: $(this).data('soid') }, function (data) {
        });
    })
    $(".dpause").click(function () {
        $(this).siblings(".demoAudio")[0].pause();
        $(this).siblings(".demoAudio").data("playing", "false");
        $(this).css("display", "none");
        $(this).siblings(".dplay").css("display", "inline-block")
    })
    //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
    //測試時直接讀取本頁會造成進度條出現bug，從別頁進來則不會，推測是jquery重複讀取的關係，暫無解(但一般使用者也不會直接進入這頁)
    $(".demoSlider").on("input", function () {
        $(this).siblings(".demoAudio")[0].pause();
        $(this).trigger("change");
    })
    //音樂進度條改變
    $(".demoSlider").on("change", function () {
        $(this).siblings(".demoAudio")[0].currentTime = this.value;
    });
    //拖動進度條直到放開滑鼠才重新開始播放
    $(".demoSlider").on("mouseup", function () {
        if ($(this).siblings(".demoAudio").data("playing") == "true")
            $(this).siblings(".demoAudio")[0].play();
    });
    //取得音樂時間文字的方法(第二個有給到小數後兩位)
    function getTimeText(num) {
        let m1 = parseInt(num / 600);
        let m2 = parseInt(num / 60 % 10);
        let s1 = parseInt(num % 60 / 10);
        let s2 = parseInt(num % 60 % 10);
        return `${m1}${m2}:${s1}${s2}`;
    }

    $(".addThisSongToCart").click(function () {
        $.post('@Url.Action("AddCart","tShoppingCart")', {cname:'@account', pdid:'si' + $(this).data('songid')}, function (data) {
            $(".eventNotification").html(data);
        });
    })
    $(".addThisAlbumToCart").click(function () {
        $.post('@Url.Action("AddCart","tShoppingCart")', { cname:'@account', pdid: $(this).data('albumid') }, function (data) {
            $(".eventNotification").html(data);
        });
    })

    $(".addThisSongToPlayList").click(function () {
        let songn = $(this).parents("h4").prev().data('songn');
        let singer = $(this).parents("h4").prev().data('singer');
        let soid = $(this).parents("h4").prev().data('soid');
        let songcover = $(this).parents("h4").prev().data('songcover');
        let playurl = $(this).parents("h4").prev().data('playurl');
        let albumName = '@AlbInfo.fAlbumName';

        //03/11新增加入播放清單
        $.post("@Url.Action("addPlayLists","Album")?amid=" + $(this).data('songid'), function (data) {
            $(".eventNotification").html(data);
            if (data == "成功") {
                $(".playListPartialView").find(".noMusic").remove();
                let newMusic = $(
                `<div class='playListItem'
                    data-singer='${singer}'
                    data-songn='${songn}'
                    data-soid='${soid}'
                    data-songcover='${songcover}'
                    data-albumname='${albumName}'
                    data-playurl='${playurl}'>
                    <div class="plSymbol">
                        <i class='fas fa-music symbol'></i>
                    </div>
                <div class="plDescription">
                    <div class="mTitle">${songn}</div>
                    <div class="hr"></div>
                    <div class="mDetail">${albumName} - ${singer}</div>
                </div>
                </div>`);
            $(".playListPartialView").append(newMusic)
            }
        });
    })
</script>