@model IEnumerable<MusicPrj.tAlbum>
@using MusicPrj.Models;

@{
    ViewBag.Title = "MyAlbumList2";
    if (Request.IsAjaxRequest() == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }

    var account = "";
    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Index/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
    }


}

<style>
    .albumCreatePanel {
        display: inline-block;
        vertical-align: top;
        padding-left: 50px;
        padding-top: 50px;
        min-width: 1200px;
    }
    /*滑鼠拖曳選擇Kind效果css結束*/
    /*摺疊效果預設摺起來*/
    .foldAlbum {
        display: none;
        line-height: 17pt;
        width: 100%
    }
    /*Tab換頁效果*/
    .tab_btns li {
        display: inline-block;
    }

    .tab_container {
        overflow: hidden; /*關鍵-控制切第2頁時第一頁畫面消失位置*/
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100% /*控制單頁框度使其不超出瀏覽範圍*/
    }

    .tab_contents {
        position: relative; /*關鍵-控制切頁動作*/
        white-space: nowrap; /*關鍵-文字是否換行-控制第二頁內容*/
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100% /*控制單頁框度使其不超出瀏覽範圍*/
    }

        .tab_contents li {
            display: inline-block; /*關鍵-控制第二頁內容*/
            vertical-align: top; /*關鍵-控制第一頁內容*/
            width: 100%; /*控制單頁框度使其不超出瀏覽範圍*/
            padding: 0 5%;
            margin: 0 auto;
            /*box-sizing: border-box;*/
        }

    .tab_btns li a {
        cursor: pointer;
    }
    /*Tab換頁效果*/
    /*專輯預覽block*/
    .albumBlock {
        display: block;
        width: 15vw;
        height: 22vw;
        min-width: 200px;
        min-height: 293px;
        text-align: center;
        background-color: #292929;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
        transform: scale(0.8);
        transition: 0.4s;
        opacity: 1;
        transform: scale(1);
    }
        /*.animation {
        transform: scale(1);
        opacity: 1;
    }*/
        .albumBlock:hover {
            background-color: #353535;
            text-decoration: none;
        }

    .albumCover {
        position: relative;
        display: inline-block;
        width: 12vw;
        height: 12vw;
        min-width: 160px;
        min-height: 160px;
        /*測試用圖片*/
        /*background-image: url("/Images/4.jpg");*/
        /*background-size: cover;*/
    }

    .albumContent {
        position: relative;
        width: 12vw;
        min-width: 160px;
        overflow: hidden;
        text-align: left;
        margin: 5px 0px;
    }

    .albumTitle {
        display: block;
        width: 12vw;
        min-width: 160px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        /*使多出的字元變...，下面三個屬性都要設才有效果*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .albumDescripion {
        display: inline-block;
        width: 12vw;
        min-width: 160px;
        font-size: 12px;
        font-weight: 600;
        color: #808080;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .animation {
        opacity: 1;
    }
    /*專輯預覽block*/

        /*新增上方選單的樣式*/
    .myMenu {
        width: 70%;
        background-image: linear-gradient(to right, #1587dd,#651ea4, #191919)
    }
    .tab_btns{
        padding:0px 0px;
    }
        .tab_btns > li {
            /*background-color:antiquewhite;*/
            font-size: 20px;
            font-weight: 600;
            padding: 10px 0;
            margin:0;
        }
    .tab_btns > li:hover{
        background-color:rgba(255, 255, 255, 0.20)
    }
</style>
<!-- Main CSS-->


<div id="wrapper">
    <div class="myMenu">
            <ul class="tab_btns">
                @*如果<a>裡面加上href="javascript:void(0);"會報錯*@
                <li class="on nav-item"><a class="nav-link active" onclick="tab_switch(this)" data-div="#tab_contents1">發行專輯</a></li>
                <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1"> + 增加專輯</a></li>
                <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1">販售統計</a></li>
                <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1">單曲總覽</a></li>
            </ul>
    </div>
        <div class="tab_container">
            <ul class="tab_contents" id="tab_contents1">
                <li>
                    <div class="section__content section__content--p30">

                        @Html.Action("_MyAlbumList")

                    </div>
                </li>
                <li>
                    <div class="section__content section__content--p30">
                        @Html.Action("_MyAlbumAddAlbum")
                    </div>
                </li>
                <li>
                    <div class="headtitle h1">我的專輯統計資料</div>
                    <div class="section__content section__content--p30">
                        @Html.Action("_MyAlbumAnalysis")
                    </div>
                </li>
                <li>
                    <div class="headtitle h1">單曲列表</div>
                    <div class="section__content section__content--p30">
                        @Html.Action("_MyAlbumProductList")
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <script>

        setTimeout(function () {
            $(".productitem").addClass("animation");
        }, 200)

        //Tab頁面控制
        function tab_switch(_this) {
            var now_tab = $(_this).parent().index();
            //$(_this).parent().siblings().children().removeClass('active')
            //$(_this).addClass("active");
            $(_this).parent().siblings().removeClass('on');
            $(_this).parent().addClass('on');
            var control_div = $(_this).data('div');
            $(control_div).animate({ 'left': '-' + now_tab * 100 + '%' });
        };


        //摺疊
        $(function () {
            $('h3').click(function () {
                if ($(this).next('.foldAlbum').hasClass('o') == true) {
                    $(this).find('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-right');
                    $(this).next('.foldAlbum').removeClass('o').slideUp();
                }
                else {
                    $(this).find('i.fa').removeClass('fa-chevron-right').addClass('fa-chevron-down');
                    $(this).next('.foldAlbum').addClass('o').slideDown();
                }
            });
        });

    </script>
