@model IEnumerable<MusicPrj.tProduct>
@using MusicPrj.Models;

@{
    if (Request.IsAjaxRequest() == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
    ViewBag.Title = "AlbumDetail2";
    var AlbInfo = ViewBag.AlbInfo;
    var account = "";
    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        //          Response.Redirect("~/Index/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
    }
}
<style>
    .myContainer {
        width: 70%;
        margin: 20px 60px;
    }
</style>
<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="~/css/theme.css" rel="stylesheet" media="all">
<script src="~/vendor/animsition/animsition.min.js"></script>
<div class="container">
    <div class="headtitle h1 mb-4 font-weight-bold">單曲列表</div>
    <div class="section__content section__content--p30">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3 text-center">
                        <thead>
                            <tr>
                                <th>單曲名</th>
                                <th>專輯名</th>
                                <th>歌手</th>
                                <th>音樂下載連結</th>
                                <th class="text-center">購買價格</th>
                                @*只有最後一個要特地設置中，意義不明？*@
                                @*<th class="text-center">播放清單</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.fProductName</td>
                                    <td><a class="albumDeltail" data-album="@item.fAlbumID" href="@Url.Action("AlbumDetail","Album")?amid=@item.fAlbumID">@item.tAlbum.fAlbumName</a></td>
                                    <td>@item.fSinger</td>
                                    <td><a class="btn btn-outline-secondary" href="@Url.Action("MusicDownload","Album")?songid=@item.fProductID">下載</a></td>
                                    <td class="text-center">NT$@(Convert.ToInt32((float)item.fSIPrice * item.tAlbum.fDiscount))</td>
                                    @*<td>
                                            <div class="text-center"><a  href="#">加入至播放清單</a></div>
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>
    </div>
</div>
<script>
    $(".albumDeltail").click(function (e) {
        e.preventDefault();
        let amid = $(this).data("album");
        let url = this.href;
        let stateObj = { amid: amid, ajax: true, scrollY: 0 };
        history.pushState(stateObj, null, url);
        $.ajax({
            url: url,
            data: history.state,
            type: "post",
            beforeSend: function () {
                $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
            },
            success: function (data) {
                $(".mainbox").html(data);
            },
            complete: function () {
                $(window).scrollTop(0);
            }
        })
        let title = $(this).data("title");
        document.title = title;
    });
</script>