@using MainWork.Models
@using prjSpotifyProject.Models
@{ 
    //因為直接把會員物件整份傳過來，所以在此先轉型
    var sk = Session[CDictionary.SK_CURRENT_LOGINED_USER] as tMember;
}
<!doctype html>
<html lang="en">
<head>
    <title>SpiderFly</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    @* ↓主要用來讀取一些特殊icon *@
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    @* 測試兩版本jquery的共用性，如出意外先刪除下面那行並解除上面那行註解 *@
    @* 目前已知差別，使用let時下面那個不能重複宣告而上面可以 *@
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    @* 聖開的 *@
    @RenderSection("styles", required: false)

    <!--原始style-->
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "微軟正黑體";
            color: white;
        }

        .header {
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: black;
            z-index: 100;
        }

        .header-logo {
            position: relative;
            top: 10px;
            left: 10px;
            width: 180px;
            padding-left: 40px;
            font-size: 25px;
            background: black;
        }

        .header-logo-text {
            color: white;
        }

        .header-button {
            position: absolute;
            top: 15px;
            right: 20px;
        }

        /*登入頭像*/
        .header-Upperrightcorner-img {
            position: absolute;
            display: inline-block;
            margin-right: 5px;
            width: 45px;
            height: 45px;
            top: -5px;
            right: 120px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        #content {
            display: flex;
            position: relative;
            left: 0; /*將子元素的定位到具體的參照對象*/
            width: 100%;
            background-color: #191919;
        }

        .sidebox {
            position: fixed;
            width: 200px;
            height: 100vh;
            background-color: #060606;
            color: white;
            margin-top: 70px;
        }

        .mainbox {
            width: 100%;
            min-height: calc(100vh - 200px);
            position: relative;
            margin-top: 70px;
            margin-bottom: 110px;
            margin-left: 200px;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            background-color: #252525;
            box-shadow: 0 0 2em black;
            z-index: 1000
        }

        /*額外更新左邊選單*/
        li {
            list-style-type: none;
            margin: 5px;
        }

        a {
            /*要加上!important才能強行刪除底線*/
            text-decoration: none !important;
        }

        .menuItem {
            width: 190px;
            font-weight: 600;
            font-size: 14px;
            text-decoration: none;
            border-radius: 5px;
            transition: 0.4s;
        }
            /*當滑鼠滑到該元素上，底下的兩個子元素會有變化的寫法*/
            /*透過jQuery改變css會導致此項失效(jQuery的語法會將改變的內容放在標籤內，優先層級較高)
        /*一樣使用!important可以解決*/
            .menuItem:hover > span,
            .menuItem:hover > .fa {
                color: white !important;
            }

        .menuItemSelected {
            background-color: #3a3a3a;
        }

        .menuItem .fa {
            font-size: 20px;
            margin: 10px 20px;
            color: #656565;
            transition: 0.4s;
        }

        .menuItem span {
            display: inline-block;
            position: relative;
            bottom: 3px;
            color: #656565;
            transition: 0.4s;
        }

        /*全介面的scrollBar*/
        body::-webkit-scrollbar {
            width: 15px;
        }

        body::-webkit-scrollbar-track {
            background-color: #191919;
        }

        body::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #3a3a3a;
        }
    </style>

    <!--搜尋條style-->
    <style>
        .searchBar {
            top: -35px;
            position: relative;
            left: 185px;
            margin: 15px;
            width: 25%;
            min-width: 200px;
        }
        /*不用id變不了bootstrap的文字顏色*/
        /*#advancedBtn {
            color: whitesmoke;
        }*/

        .advancedPanel {
            display: none;
            width: 530px;
            border-radius: 10px;
            padding: 5px 20px 20px 20px;
            background-color: #040404;
            background-image: linear-gradient(#474747,#040404);
            opacity: 0;
            transition: 0.1s;
            box-shadow: 1px 1px 2px #818181;
        }

        .advancedItem {
            display: inline-flex;
            flex-wrap: wrap;
            width: 140px;
            margin: 10px;
        }

        .ui-menu-item-wrapper,
        option {
            color: black;
        }

        .advancedSelect {
            margin: 10px;
        }

        .selectedItem,
        .selectableItem,
        .itemAdd {
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #212121;
            padding: 5px;
            margin: 2px 1px;
            color: white;
            font-weight: 600;
        }

        .selectedItem {
            display: none;
        }

        .itemAdd {
            padding: 5px 10px;
        }

        .selectableItem,
        .selectedItem,
        .itemAdd {
            cursor: pointer;
        }

            .itemAdd:hover {
                background-color: rgba(6, 78, 137, 0.90)
            }

        .selectableItemPanel {
            display: none;
            position: absolute;
            width: 90%;
            min-width: 200px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            transition: 0.1s;
            box-shadow: 1px 1px 2px #525252;
        }

        .adSwitch {
            opacity: 1;
            display: block;
        }

        .searchPanel {
            width: 100%;
            text-align: right;
        }

        .adSearchBtn {
            background-image: linear-gradient(to bottom right, #22b7e8,#1347d9);
            margin-right: 10px;
        }
    </style>

    <!--播放器style-->
    <style>

        #playerPanel {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 110px;
        }

        #titlePanel {
            position: absolute;
            left: 110px;
            width: 14%;
            height: 80px;
            margin: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        img.playerCover {
            width: 100px;
            height: 100px;
            margin: 3px;
        }

        #playerfigure {
            position: absolute;
            width: 100px;
            margin: 2px;
            color: white;
        }

        .description {
            font-size: 14px;
            font-weight: 600;
        }

        .descriptionSub {
            color: rgb(199, 194, 194);
            font-size: 10px;
            white-space: nowrap;
        }

            .descriptionSub.singer {
                font-style: italic;
            }

        #btnPanel {
            position: relative;
            top: 3px;
            width: 400px;
            margin: auto;
            text-align: center;
        }

        #progressPanel {
            position: relative;
            width: 55%;
            margin: 5px auto;
            text-align: center;
        }

        #volumePanel {
            position: absolute;
            right: 0px;
            top: 40px;
            width: 160px;
        }

        .sound {
            width: 30px;
            height: 22px;
            filter: invert();
        }

        #volumeBar {
            -webkit-appearance: none;
            border-radius: 50px;
            width: 100px;
            height: 5px;
            outline: none;
        }

            #volumeBar:hover,
            #progress:hover,
            .sound:hover {
                cursor: pointer;
            }

        #progress {
            -webkit-appearance: none;
            border-radius: 50px;
            top: 50px;
            width: 80%;
            height: 5px;
            /*下面這個不關掉的話選取進度條時會出現藍框*/
            outline: none;
            margin: auto;
            transition: 0.2s;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 11px;
            height: 11px;
            background-color: white;
            border-radius: 50%;
            transition: 0.2s;
        }

        input::-webkit-slider-runnable-track {
            transition: 0.5s;
        }

        input::-webkit-slider-thumb:hover {
            width: 15px;
            height: 15px;
        }

        .btn:hover {
            background: skyblue;
            cursor: pointer;
        }

        .btn:active {
            background: silver;
        }

        .btn img {
            width: 30px;
            height: 22.5px;
            margin: 10px;
            /*下面是色彩反轉的濾鏡效果(把黑圖片變白)*/
            filter: invert();
        }
    </style>

    <!--會員專輯頁style-->
    <style>
        .albumname {
            width: 200px;
            height: 45px;
            overflow: hidden; /*超出範圍的部分隱藏*/
            text-overflow: ellipsis; /*出現省略號*/
            white-space: nowrap;
        }

        .productitem {
            float: left;
            color: white;
            margin-left: 10px;
            margin-bottom: 0.5%;
            font-family: 微軟正黑體;
            background-color: #444444;
            cursor: pointer;
            border-radius: 10px
        }

            .productitem:hover {
                background-color: dimgray;
            }

        .productitemhy:link {
            color: white;
            text-decoration: none;
        }

        .productitemhy:visited {
            color: white;
        }

        .headtitle {
            color: white;
            margin-left: 20px;
            font-family: 微軟正黑體;
        }
    </style>

    <!--modal(彈出)版面style-->
    <style>
        #modal {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
            z-index: 999;
            transition: 0.6s;
            opacity: 0;
        }

            #modal.fadein {
                opacity: 1;
            }

        #modalContent {
            position: relative;
            top: 10%;
            width: 40%;
            padding: 20px;
            background-color: #191919;
            border-radius: 20px;
            margin: auto;
            transition: 0.6s;
            opacity: 0;
        }

            #modalContent.fadein {
                top: 20%;
                opacity: 1;
            }
    </style>

    <!--通用介面的loading符號-->
    <style>
        .loading {
            position: relative;
            text-align: center;
            top: 50%;
        }
    </style>

    <!--播放清單介面-->
    <style>
        .playListPanel {
            position: fixed;
            display: flex;
            height: calc(100vh - 110px);
            width: 400px;
            background-color: #2b2b2b;
            right: -415px;
            z-index: 500;
            transition: 0.4s;
            box-shadow: -5px -30px 2em 5px #151515;
            border-radius: 5px 0 0 5px;
        }

        .open {
            right: 0px;
        }

        .playListSwitch.s1 {
            position: fixed;
            display: inline-block;
            width: 30px;
            /*高度為減掉頁首及播放器*/
            height: calc(100% - 180px);
            right: 0px;
            background-color: transparent;
            top: 70px;
            font-size: 24px;
            text-align: center;
            padding: 18% 5px;
            cursor: pointer;
            transition: 0.3s;
            z-index: 499;
            border-radius: 5px 0 0 5px;
        }

        .playList {
            float: left;
            flex-wrap: wrap;
            position: relative;
            height: 100%;
            width: 100%;
            overflow: auto;
        }

        .playListSwitch.s2 {
            position: relative;
            height: 100%;
            width: 24px;
            background-color: transparent;
            padding: 90% 10px;
            cursor: pointer;
            transition: 0.3s;
            z-index: 499;
        }

        .playListSwitch:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .playListItem {
            display: flex;
            width: 95%;
            margin: 5px 0px;
            padding: 5px 5px 6px 5px;
            cursor: pointer;
        }

            .playListItem:hover {
                background-color: #666666;
            }

        .plSymbol {
            position: relative;
            display: inline-block;
            height: 40px;
            width: 40px;
            font-size: 21px;
            background-color: #cecece;
            padding: 3.5px 7.5px 4.5px 6px;
            border-radius: 50%;
            margin: 4px 10px 0 5px;
        }

            .plSymbol i {
                color: #258ade;
                transform: rotate(5deg) scaleY(1.1) skewX(10deg);
            }

        .plDescription {
            display: inline-block;
            width: 90%;
        }

        .hr {
            border-bottom: 1px solid #cecece;
            margin: 2px;
        }

        .mTitle {
            font-size: 16px;
            font-weight: 600;
            width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .mDetail {
            font-size: 12px;
            font-style: italic;
            width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .playingItem {
            background-color: #666666;
        }

        .playingSymbol i {
            color: #33b630;
        }
        /*清單的scroll條棒*/
        .playList::-webkit-scrollbar {
            width: 10px;
        }

        .playList::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #4a4a4a;
        }
    </style>
</head>
<body>
    @* 播放清單相關畫面 *@
    <div class="playListSwitch s1">
        <i class="fa fa-caret-left"></i>
    </div>

    <div class="playListPanel">
        <div class="playListSwitch s2">
            <i class="fa fa-caret-right"></i>
        </div>
        <div class="playList">
            <div class="playListPartialView">
                @Html.Action("_PlayLists", "Album")
            </div>
        </div>
    </div>

    @* 測試modal *@
    <div id="modal">
        <div id="modalContent">
            @* 這裡的內容隨按鍵改變而讀取 *@
        </div>
    </div>

    <div class="header">
        <div class="header-logo">
            <a href="#"><img @*src=""*@ alt=""></a>
            <button class="navbar-toggler header-logo-text" type="button">LOGO</button>
        </div>

        @* 搜尋條--套用bootstrap(input-group) *@
        <div class="searchBar">
            @* 基本搜尋條(結合進階搜尋鍵) *@
            <div class="input-group">
                <input class="searchtxt form-control" type="text" placeholder="搜尋歌曲..." name="basicSearch">
                <div class="input-group-append">
                    <div class="btn btn-outline-secondary" id="advancedBtn">進階搜尋</div>
                    <div class="btn btn-outline-secondary searchBtn">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>

            @* 進階搜尋面板 *@
            <div class="advancedPanel">
                <div class="advancedItemGroup">
                    <div class="advancedItem">
                        歌曲名稱
                        <input type="text" class="advancedtxt form-control" id="adSong" />
                    </div>
                    <div class="advancedItem">
                        專輯名稱
                        <input type="text" class="advancedtxt form-control" id="adAlbum" />
                    </div>
                    <div class="advancedItem">
                        歌手
                        <input type="text" class="advancedtxt form-control" id="adSinger" />
                    </div>
                    <div class="advancedItem">
                        團體名稱
                        <input type="text" class="advancedtxt form-control" id="adGroup" />
                    </div>
                    <div class="advancedItem">
                        作曲者
                        <input type="text" class="advancedtxt form-control" id="adComposer" />
                    </div>
                    <div class="advancedItem">
                        發行類別
                        <select class="advancedtxt form-control" id="adType">
                            @* 網頁初始化時會在這裡更新搜尋的類別 *@
                        </select>
                    </div>
                </div>

                @* 這邊放自選類別 *@
                <div class="typeSelectGroup">
                    @* 選擇想要的類別 *@
                    <div class="typeSelect advancedSelect">
                        偏好的曲風
                        <div class="advancedBlock">
                            @* 網頁初始化時會在這裡更新曲風與增加鈕 *@
                        </div>

                        @* 點選+號後會出現的type選擇表，位置應在+號正下方 *@
                        <div class="selectableItemPanel">
                            @* 網頁初始化時會在這裡更新曲風 *@
                        </div>
                    </div>

                    @* 進階搜尋鍵 *@
                    <div class="searchPanel">
                        <button class="btn btn-primary adSearchBtn">搜尋</button>
                    </div>
                </div>
            </div>
        </div>

        @* 登入註冊鍵 *@
        <div class="header-button">
            @{
                //登入後會顯示的會員頭像，待修正

                if (sk == null)
                {
                    <div id="logonInterface" class="btn btn-outline-secondary">註冊</div>
                    <div id="loginInterface" class="btn btn-outline-secondary">登入</div>
                }
                else
                {
                    //會員頭像兼會員中心預定
                    <img src="~/Images/4.jpg" class="header-Upperrightcorner-img" />

                    @*@Html.ActionLink("個人短訊息", "MessageBox", "Message", null, new { @class = "side-li-home-img" })*@
                    <a href="@Url.Action("MessageBox","Message")">
                        <div class="btn btn-outline-secondary">訊息</div>
                    </a>
                    <a href="@Url.Action("Logout","MemberLogin")">
                        <div id="logoutInterface" class="btn btn-outline-secondary">登出</div>
                    </a>
                }
            }
        </div>
    </div>

    <div id="content">
        <!--邊條選項欄-->
        <div class="sidebox">
            <ul>
                <li>
                    <a href="@Url.Action("Main","Homepage")">
                        <div class="menuItem">
                            <i class="fa fa-home"></i>
                            <span>首頁</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Kinds","Search")">
                        <div class="menuItem">
                            <i class="fa fa-search"></i>
                            <span>音樂分類</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("TwoPlayer","Player")">
                        <div class="menuItem">
                            <i class="fa fa-headphones"></i>
                            <span>雙重播放器測試</span>
                        </div>
                    </a>
                </li>

                @if (sk != null)
                {
                    <li>
                        <a href="@Url.Action("MyAlbumList","Album")/?account=@sk.fAccount">
                            <div class="menuItem">
                                <i class="fa fa-headphones"></i>
                                <span>我的發行(測試用)</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("MyMusic","Album")">
                            <div class="menuItem">
                                <i class="fa fa-music"></i>
                                <span>我的音樂庫</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("ShoppingCart","tShoppingCart")">
                            <div class="menuItem">
                                <i class="fa fa-shopping-cart"></i>
                                <span>我的購物車</span>
                            </div>
                        </a>
                    </li>

                    if (sk.fAccount == "aaa")
                    {
                        <li>
                            <a class="manage" href="@Url.Action("Index","Admin")" target="_blank">
                                <div class="menuItem" id="admininterface">
                                    <i class="fa fa-th-list"></i>
                                    <span>後臺管理介面</span>
                                </div>
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>


        <!--內容主體-->
        <div class="mainbox">
            @RenderBody()
        </div>
    </div>

    <!--播放器-->
    <div id="footer">
        <div id="playerPanel">
            <!-- 封面與歌名div -->
            <figure id="playerfigure">
                <img id="playercover" src="#" class="playerCover">
            </figure>
            <div id="titlePanel">
                <span class="album description">這裡放專輯</span><br />
                <span id="Descriptiontwo" class="music descriptionSub">這裡放歌名</span><br />
                <span id="singer" class="singer descriptionSub">這裡放歌手</span>
            </div>

            <!-- 基本按鍵div -->
            <div id="btnPanel">
                <div id="random" class="btn"><img src="/PlayerImg/random.png"></div>
                <div id="prev" class="btn"><img src="/PlayerImg/prev.png"></div>
                <div id="play" class="btn"><img src="/PlayerImg/play.png"></div>
                <div id="pause" class="btn"><img src="/PlayerImg/pause.png"></div>
                <div id="next" class="btn"><img src="/PlayerImg/next.png"></div>
                <div id="replay" class="btn"><img src="/PlayerImg/replay.png"></div>
            </div>

            <!-- 進度條div -->
            <div id="progressPanel">
                <span id="nowTime">00:00</span>
                <input id="progress" class="demoSlider" type="range" min="0" max="100" step="0.01" value="0">
                <span id="totalTime">00:00</span>
            </div>

            <!-- 音量條div -->
            <div id="volumePanel">
                <img src="/PlayerImg/sound.png" data-sound="volumeImg" id="volumeImg" class="sound">
                <img src="/PlayerImg/mute.png" data-sound="muteImg" id="muteImg" class="sound">
                <input id="volumeBar" type="range" min="0" max="1" step="0.01" value="0.5">
            </div>

            <!--播放器本體-->
            <audio id="mainPlayer" src="~/Music/紅魔 「Un-demystified Fantasy」.mp3"></audio>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/dragableplugin.js")" type="text/javascript"></script>

    <script>

        /////////////////
        ///主播放器相關///
        /////////////////

        //新增
        var m_soid;
        var m_singer;
        var m_song;
        var m_songcover;
        var playerAjaxExecu = false;
        var m_playmode = 1;
        //****
        var oplaying = false;
        var dplaying = false;
        var fileName;

        var player;//主播放器
        var playing;//是否正在播放中
        var totalTime;//本次歌曲的秒數總長度
        var nowVolume;//當前音量

        player = document.getElementById("mainPlayer");
        playing = false;
        $("#pause").css("display", "none");
        $("#muteImg").css("display", "none");
        player.volume = 0.5;
        $("#volumeBar").css({ "background-image": "-webkit-linear-gradient(left , #5599FF 50%,#fff 0px)" });

        nowVolume = player.volume;

        //初始化播放器內音樂的總長度，並將值傳給進度條
        player.addEventListener("durationchange", function () {
            totalTime = parseInt(player.duration);
            $("#progress").prop("max", totalTime);

            let m1 = parseInt(totalTime / 600);
            let m2 = parseInt(totalTime / 60);
            let s1 = parseInt(totalTime % 60 / 10);
            let s2 = parseInt(totalTime % 60 % 10);
            $("#totalTime").text(`${m1}${m2}:${s1}${s2}`);
        });

        //播放器的timer
            player.addEventListener("timeupdate", function () {
                $("#progress").prop("value", player.currentTime);

                let now = player.currentTime;
                let m1 = parseInt(now / 600);
                let m2 = parseInt(now / 60);
                let s1 = parseInt(now % 60 / 10);
                let s2 = parseInt(now % 60 % 10);
                $("#nowTime").text(`${m1}${m2}:${s1}${s2}`);

                //進度條的變化
                let persent = now / totalTime * 100;
                let p = parseInt($("#progress").css("width")) / 100;
                let f = persent * p;
                $("#progress").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${f}px,#fff 0px)` });

                if (player.currentTime > $("#progress").attr("max")) {
                player.pause();
                $(".dplayPL").css("display", "inline");
                $(".dpausePL").css("display", "none")
                $("#play").css("display", "inline-block");  //新增,為與舊撥放器同步
                $("#pause").css("display", "none")          //新增,為與舊撥放器同步
                playing = false;                            //新增,為與舊撥放器同步
                let plink;
                    if (playerAjaxExecu == false && m_playmode >0) {
                        playerAjaxExecu = true;
                        nextPlayAjaxAction(0);
                    }
                    player.currentTime = 0;
                    plink = "@Url.Action("_PlayLists","Album")";
                    if (m_playmode != 0) {
                        setTimeout(function () {
                            playing = true;
                            $("#play").css("display", "none");
                            $("#pause").css("display", "inline-block");
                            player.play();
                            playerAjaxExecu = false;
                            $.post(plink, { ajax: true }, function (data) {
                            $(".playListPartialView").html(data);
                        })
                        }, 100);
                    }
                }
            });

        //讀取撥放清單下一首單曲資料
        function nextPlayAjaxAction(para) {
            let temp;
            if (para == 1) {
                temp = m_playmode;
                m_playmode = 4;
            }
            $.ajax({
                url: "@Url.Action("nextPlayLists","Album")?amid=" + m_soid + "&playmode=" + m_playmode,
                //   data: { term: request.term.trim() },
                data: {},
                type: "POST",
                async: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result == '查無此') {
                        playerAjaxExecu = false;
                    }
                    console.log(result);
                    player.src = "@Url.Content("~/")MusicFiles/" + result.fFilePath;
                    m_songcover = "@Url.Content("~/")CoverFiles/" + result.fCoversource;
                    m_soid = result.fProductID;
                    m_singer = result.fComposer;
                    m_song = result.fProductName;
                    $("#Descriptiontwo").text(m_song);
                    $("#singer").text(m_singer);
                    $("#playercover").attr("src", m_songcover);
                    $(".album").text(result.fAlbumName);
                    if (m_playmode == 4) {
                        m_playmode = temp;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Error.");
                    playerAjaxExecu = false;
                    if (m_playmode == 4) {
                        m_playmode = temp;
                    }
                }
            });
        }

        $("#play").click(function () {
            player.play();//player-->demoaudio修改
            playing = true;
            $("#play").css("display", "none");
            $("#pause").css("display", "inline-block")

             //若有其他播放器則全部暫停
            $(".dpause").trigger("click");
        })
        //音樂暫停鍵
        $("#pause").click(function () {
            player.pause();//player-->demoaudio修改
            playing = false;
            $("#play").css("display", "inline-block");
            $("#pause").css("display", "none")
        })

         //音樂下一首
        $("#next").click(function () {
            player.currentTime = parseInt(player.duration)-1;
        })

        //連續撥方3模式切換
        $("#replay").click(function () {
            if (m_playmode == 0) {
                m_playmode = 1;
                $("#replay").children().attr("src", "../Content/replay.png");
                console.log("連續");
            } else if (m_playmode == 1) {
                $("#replay").children().attr("src", "../Content/replay_s.png");
                m_playmode = -1;
                console.log("單首連續");
            } else {
                $("#replay").children().attr("src", "../Content/replay_n.png");
                m_playmode = 0;
               console.log("播完停");
            }

        })

         //隨機撥放
        $("#random").click(function () {
            if (m_playmode != 2) {
                m_playmode = 2;
                $("#replay").children().attr("src", "../Content/replay_n.png");
                $("#random").children().attr("src", "../Content/random_on.png");
                console.log("隨機")
            }
            else {
                m_playmode = 1;
                $("#replay").children().attr("src", "../Content/replay.png");
                $("#random").children().attr("src", "../Content/random.png");
                console.log("取消隨機")
            }
         })

        //上一首
        $("#prev").click(function () {
            if (player.currentTime > 2) {
                player.currentTime = 0;
            } else {
                nextPlayAjaxAction(1);
                playerAjaxExecu = false;
            }
            setTimeout(function () {
            playing = true;
            $("#play").css("display", "none");
            $("#pause").css("display", "inline-block");
            player.play();
             playerAjaxExecu = false;
            }, 1000);
            let plink = "@Url.Action("_PlayLists","Album")";
            $.post(plink, { ajax: true }, function (data) {
            $(".playListDetail").html(data);
            })
        })

        //調整音量時能立即更動而不用放開滑鼠
        $("#volumeBar").on('input', function () {
            $(this).trigger("change");
        })
        //音量調節鍵
        $("#volumeBar").change(function () {
            player.volume = this.value;
            let v = this.value * 100;
            $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${v}%,#fff 0px)` });
            if (demoMusic.volume == 0) {
                $("#volumeImg").css("display", "none");
                $("#muteImg").css("display", "inline-block");
            }
            else {
                $("#volumeImg").css("display", "inline-block");
                $("#muteImg").css("display", "none");
            }
        });

        //靜音鍵
        $(".sound").click(function () {
            let data = $(this).data("sound");
            switch (data) {
                case "volumeImg":
                    nowVolume = demoMusic.volume;
                    player.volume = 0;
                    $("#volumeBar").prop("value", 0);
                    $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${0}%,#fff 0px)` });
                    $("#volumeImg").css("display", "none");
                    $("#muteImg").css("display", "inline-block");
                    break;

                case "muteImg":
                    player.volume = nowVolume;
                    $("#volumeBar").prop("value", nowVolume);
                    $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${nowVolume * 100}%,#fff 0px)` });
                    $("#volumeImg").css("display", "inline-block");
                    $("#muteImg").css("display", "none");
                    break;
            }
        });

        //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
        $("#progress").on('input', function () {
            player.pause();//player-->demoaudio修改
            $(this).trigger("change");
        })
        //音樂進度條改變
        $("#progress").change(function () {
            player.currentTime = this.value;//player-->demoaudio修改
        });
        //拖動進度條直到放開滑鼠才重新開始播放
        $("#progress").mouseup(function () {
            if (playing)
                player.play();//player-->demoaudio修改
        });

        /////////////////////
        ///AJAX切換頁面相關///
        /////////////////////

        //$(".mainbox").load(link);
        //更新老師上課說法
        //load可以讀取一個頁面中的部分位置如"controller/avtion #div1>img"這種寫法
        //意為讀取該網頁id為div1中的img
        //但是mvc本身有PartailView這個功能，因此應該用不到load

        //點連結將主容器切換到新頁面，這個的內容會根據連結的不同有所改變
        $("li > a").on("click", function (e) {
            //如果按的是後台選項直接跳新的後台視窗
            if ($(this).hasClass("manage")) {
                return;
            }

            e.preventDefault();
            let link = $(this).attr("href");
            //第一個參數要帶狀態物件，若點選的連結沒有參數指定就可以給null
            //反過來說，有參數指定的連結最好額外再寫一個ajax判斷式比較好
            history.pushState({ ajax: true, scrollY: 0 }, null, link);

            $.ajax({
                beforeSend:function() {
                    $(".mainbox").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                url: link,
                data: history.state,
                type: "post",
                success: function (data) {
                    $(".mainbox").html(data);
                },
                complete: function () {
                    $(window).scrollTop(0);
                }
            })
        });

        //這裡宣告全域變數y，儲存各頁的卷軸位置(為了配合上下一頁的資料儲存)
        //由於音樂搜尋結果是由ajax非同步產生出的內容，每次產生會有不同長度的內容
        //同時由於非同步運作的特性，致使某些程式碼不一定每次會照著順序運行，也造成滾動卷軸更新位置時的不一致
        //為了避免卷軸在不可預期的時間點儲存到新的卷軸位置，因此在發動ajax前先行儲存到全域變數
        //等到ajax全部發動完畢後，才在complete的時間點將位置回推到這個事先儲存好的位置
        var y;

        //每當點選瀏覽器的上一頁下一頁便會發動此事件
        //location.pathname為動作完成後所得到的該頁url
        window.addEventListener('popstate', function () {
            //history.replaceState(history.state, null);
            y = history.state.scrollY;
            $.ajax({
                beforeSend:function() {
                    $(".mainbox").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                url: location.pathname,
                data: history.state,
                type: "post",
                success: function (data) {
                    $(".mainbox").html(data);
                },
                complete: function () {
                    $(window).scrollTop(y);
                    history.state.scrollY = y;
                    history.replaceState(history.state, null);
                }
            })
        })

        //測試紀錄：history.state雖然可以直接賦值，但一旦切頁就會消失
        //若要使該頁的history.state不管怎麼切頁都可以確實保存下去，一定得使用replaceState方法才行
        //可以先利用history.state.xxx的方式賦予新定義的值，再用history.replaceState(history.state,null)的方式更新

        //但!!是!!!該方法不能給值為null的history.state!
        //最少最少得先建立一個{}空物件給它才能使用上述方式賦值，WTF
        if (history.state == null) {
            history.replaceState({ ajax: true, scrollY: 0 }, null);
        }
        $(window).scroll(function () {
            history.state.scrollY = window.scrollY;
            history.replaceState(history.state, null);

        })

        /////////////////
        ///搜尋條棒相關///
        /////////////////

        //進階搜尋內容的初始化
        $.getJSON('@Url.Action("SetTypes","Search")', function (datas) {
            $.each(datas, function (name, value) {
                $("#adType").append(`<option value="${value.fTypeID}">${value.fTypeName}</option>`)
            })
        })
        $.getJSON('@Url.Action("SetKinds","Search")', function (datas) {
            $.each(datas, function (name, value) {
                $(".advancedBlock").append(`<div class="selectedItem" data-kind="${value.KindName}" data-color="${value.fColor}">${value.KindName}</div>`);
                $(".selectableItemPanel").append(`<div class="selectableItem" data-kind="${value.KindName}" data-color="${value.fColor}">${value.KindName}</div>`)
            })
            $(".advancedBlock").append('<div class="itemAdd"><i class="fa fa-plus"></i></div>');

            $(".itemAdd").click(function () {
                $(".selectableItemPanel").toggleClass("adSwitch");
            })

            //初始化進階面板曲風選項的顏色
            $(".selectableItemPanel").children(".selectableItem").each(function () {
                $(this).css("background-color", $(this).data("color"));
                $(this).css("background-image", `linear-gradient(to bottom,#16161660 100%,${$(this).data("color")})`);
            })
            $(".advancedBlock").children(".selectedItem").each(function () {
                $(this).css("background-color", $(this).data("color"));
                $(this).css("background-image", `linear-gradient(to bottom,#16161660 100%,${$(this).data("color")})`);
            })

            //選擇曲風
            $(".selectableItem").on("click", function () {
                let kindName = $(this).data("kind");
                $(this).css("display", "none");
                $(".advancedBlock").find(`[data-kind = '${kindName}']`).css("display", "inline-block");
                $(".selectableItemPanel").toggleClass("adSwitch");
            })
            //點擊選擇的曲風即可取消
            $(".selectedItem").on("click", function () {
                let kindName = $(this).data("kind");
                $(this).css("display", "none");
                $(".selectableItemPanel").find(`[data-kind = '${kindName}']`).css("display", "inline-block");
            })
        })

        //開啟進階搜尋版面、開啟曲風選擇版面
        $("#advancedBtn").click(function () {
            $(".advancedPanel").toggleClass("adSwitch");
        })
        $(".itemAdd").click(function () {
            $(".selectableItemPanel").toggleClass("adSwitch");
        })
        //點選搜尋區域以外的地方會自動關閉進階搜尋版面(很礙眼)
        $(document).mousedown(function (e) {
            if ($(e.target).parents(".searchBar").length == 0 &&
                $(e.target).parents(".ui-menu-item").length == 0) {
                $(".advancedPanel").removeClass("adSwitch");
            }
            if ($(e.target).parents(".selectableItemPanel").length == 0) {
                $(".selectableItemPanel").removeClass("adSwitch");
            }
        })

        //關鍵字搜尋(只查找歌名並輸出專輯與歌名(專輯可能重複))
        //用trim()除去空白字串
        $(".searchBtn").click(function () {
            let keyword = $(".searchtxt").val().trim();
            if (keyword == "") {
                return;
            }
            let url = `@Url.Action("Result", "Search")`;
            let stateObj = { keyword: keyword, ajax: true };
            $.ajax({
                beforeSend:function() {
                    $(".mainbox").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                url: url,
                data: stateObj,
                type: "post",
                success: function (data) {
                    $(".mainbox").html(data);
                }
            })
            history.pushState(stateObj, null, url);
        })

        //進階搜尋(找出符合條件的專輯(專輯不重複))
        $(".adSearchBtn").click(function () {
            $(".advancedPanel").toggleClass("adSwitch");
            let adSong = $("#adSong").val().trim();
            let adSinger = $("#adSinger").val().trim();
            let adGroup = $("#adGroup").val().trim();
            let adComposer = $("#adComposer").val().trim();
            let adAlbum = $("#adAlbum").val().trim();
            let adType = $("#adType").val();
            let adKinds = "";
            $(".advancedBlock").children(".selectedItem").each(function () {
                if ($(this).css("display") == "inline-block") {
                    adKinds += ($(this).data("kind") + ",");
                }
            })
            let url = `@Url.Action("AdvancedResult", "Search")`
            let stateObj = {
                adSong: adSong,
                adSinger: adSinger,
                adGroup: adGroup,
                adComposer: adComposer,
                adAlbum: adAlbum,
                adType: adType,
                adKinds: adKinds,
                ajax: true
            }

            $.ajax({
                beforeSend:function() {
                    $(".mainbox").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                url: url,
                data: stateObj,
                type: "post",
                success: function (data) {
                    $(".mainbox").html(data);
                }
            })
            history.pushState(stateObj, null, url);
        })

        //所有搜尋text實作autocomplete
        $(".searchtxt,#adSong").autocomplete({
            source: '@Url.Action("AutoCompleteSong", "Search")'
        });
        $("#adSinger").autocomplete({
             source: '@Url.Action("AutoCompleteSinger", "Search")'
        });
        $("#adGroup").autocomplete({
            source: '@Url.Action("AutoCompleteGroup", "Search")'
        });
        $("#adComposer").autocomplete({
            source: '@Url.Action("AutoCompleteComposer", "Search")'
        });
        $("#adAlbum").autocomplete({
            source: '@Url.Action("AutoCompleteAlbum", "Search")'
        });

        //讓左側選單被選擇時有點變化
        $(".menuItem").click(function () {
            $(this).parents("li").siblings().find(".menuItemSelected").children().css("color", "#656565");
            $(this).parents("li").siblings().find(".menuItemSelected").removeClass("menuItemSelected");
            $(this).addClass("menuItemSelected");
            $(this).children().css("color", "white");
        })

        //////////////////////////
        ///透過modal介面載入資訊///
        /////////////////////////

        //登入註冊介面與登出
        $("#loginInterface").on("click", function () {

            $.ajax({
                url:"@Url.Action("Login","MemberLogin")",
                type: "get",
                beforeSend:function() {
                    $("#modalContent").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                success: function (data) {
                    $("#modalContent").html(data);
                }
            })
            $("#modal").css("display", "block");
            setTimeout(function () {
                $("#modal").addClass("fadein");
                $("#modalContent").addClass("fadein");
            }, 10)
        })
        $("#logonInterface").on("click", function () {
            $.ajax({
                url:"@Url.Action("New","MemberLogin")",
                type: "get",
                beforeSend:function() {
                    $("#modalContent").html(
                        `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                success: function (data) {
                    $("#modalContent").html(data);
                }
            })
            $("#modal").css("display", "block");
            setTimeout(function () {
                $("#modal").addClass("fadein");
                $("#modalContent").addClass("fadein");
            }, 10)
        })

        //點擊主視窗以外的位置會讓介面消失
        $("#modal").click(function (e) {
            if ($(e.target).children("#modalContent").length != 0) {
                setTimeout(function () {
                    $("#modal").removeClass("fadein");
                    $("#modalContent").removeClass("fadein");
                }, 10)
                setTimeout(function () {
                    $("#modal").css("display", "none");
                }, 500)
            }
        })

        //操控播放清單與相關的功能
         $(".playListSwitch.s1").click(function () {
            $(".playListPanel").addClass("open");
               let plink = "@Url.Action("_PlayLists","Album")";
                 $.post(plink, {ajax:true}, function (data) {
                $(".playListPartialView").html(data);
            })
        })
        $(".playListSwitch.s2").click(function () {
            $(".playListPanel").removeClass("open");
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>