@using MainWork.Models

<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @* ↓主要用來讀取一些特殊icon *@
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--原始style-->
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "微軟正黑體";
            color: white;
        }

        li {
            list-style-type: none;
            margin: 5px;
        }

        .header {
            position: fixed;
            width: 100%;
            height: 70px;
            background-color: #0b0b0b;
            z-index: 10;
        }

        .header-logo {
            position: absolute;
            top: 10px;
            left: 10px;
            height: 50px;
            width: 180px;
            padding-left: 40px;
            padding-top: 3px;
            font-size: 25px;
            background: #0b0b0b;
        }

        .header-logo-text {
            color: white;
        }

        .header-button {
            position: absolute;
            top: 15px;
            right: 16px;
        }

        #container {
            position: relative;
            top: 70px;
            left: 0; /*將子元素的定位到具體的參照對象*/
            width: 100%;
        }

        .sidebox {
            width:200px;
            position: fixed;
            top: 70px;
            background-color: #040404;
            color: white;
        }

        .mainbox {
            width: 100%;
            height: calc(100%-70px);
            min-height: 1600px;
            border-left: 200px solid #040404; /*設置右邊框寬度為XXXpx像素，同等於sidebox的寬度*/
            background-color: #191919;
            margin-bottom: 110px;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            background-color:#252525;
            box-shadow: 0 0 2em black;
        }

        /*額外更新左邊選單*/
        .menuItem{
            width:190px;
            font-weight:600;
            font-size:14px;
            text-decoration:none;
            border-radius:5px;
            transition:0.4s;
        }
        .menuItem:hover{
            background-color:#818181;
        }
        .menuItem .fa{
            font-size:20px;
            margin:10px 20px;
        }
        .menuItem span{
            display:inline-block;
        }
    </style>

    <!--搜尋條style-->
    <style>
        .searchBar {
            position: relative;
            left: 250px;
            margin: 15px;
            width: 25%;
            min-width: 200px;
        }
        /*不用id變不了bootstrap的文字顏色*/
        #advancedBtn {
            color: whitesmoke;
        }

        .advancedPanel {
            display: none;
            width: 530px;
            border-radius: 10px;
            padding: 5px 20px 20px 20px;
            background-color: #040404;
            background-image: linear-gradient(#474747,#040404);
            opacity: 0;
            transition: 0.1s;
            box-shadow: 1px 1px 2px #818181;
        }

        .advancedItem {
            display: inline-flex;
            flex-wrap: wrap;
            width: 140px;
            margin: 10px;
        }

        .ui-menu-item-wrapper,
        option {
            color: black;
        }

        .advancedSelect {
            margin: 10px;
        }

        .selectedItem,
        .selectableItem,
        .itemAdd {
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #212121;
            padding: 5px;
            margin: 2px 1px;
            color: white;
            font-weight: 600;
        }

        .selectedItem {
            display: none;
        }

        .itemAdd {
            padding: 5px 10px;
        }

        .selectableItem,
        .selectedItem,
        .itemAdd {
            cursor: pointer;
        }

            .itemAdd:hover {
                background-color: rgba(6, 78, 137, 0.90)
            }

        .selectableItemPanel {
            display: none;
            position: absolute;
            width: 90%;
            min-width: 200px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            transition: 0.1s;
            box-shadow: 1px 1px 2px #525252;
        }

        .adSwitch {
            opacity: 1;
            display: block;
        }

        .searchPanel {
            width: 100%;
            text-align: right;
        }

        .adSearchBtn {
            background-image: linear-gradient(to bottom right, #22b7e8,#1347d9);
            margin-right: 10px;
        }
    </style>

    <!--播放器style-->
    <style>

        #playerPanel {
            position: relative;
            width: 100%;
            min-width: 1200px;
            height: 110px;
        }

        #titlePanel {
            position: absolute;
            left: 100px;
            width: 200px;
            height: 80px;
            margin: 10px;
            background: none;
        }

        img.title {
            width: 80px;
            height: 80px;
            margin: 2px 10px;
        }

        #playerfigure {
            position: absolute;
            width: 100px;
            margin: 2px;
            color: white;
        }

        #playerfigcaption {
            margin: 1px;
            text-align: center;
        }

        .description {
            font-size: 12px;
            overflow: hidden;
        }

        #singer {
            color: rgb(199, 194, 194);
            font-style: italic;
            font-size: 10px;
        }

        #btnPanel {
            position: relative;
            top: 3px;
            width: 400px;
            margin: auto;
            text-align: center;
        }

        #progressPanel {
            position: relative;
            width: 55%;
            margin: 5px auto;
            text-align: center;
        }

        #volumePanel {
            position: absolute;
            right: 0px;
            top: 40px;
            width: 160px;
        }

        .sound {
            width: 30px;
            height: 22px;
            filter: invert();
        }

        #volumeBar {
            -webkit-appearance: none;
            border-radius: 50px;
            width: 100px;
            height: 5px;
            outline: none;
        }

            #volumeBar:hover,
            #progress:hover,
            .sound:hover {
                cursor: pointer;
            }

        #progress {
            -webkit-appearance: none;
            border-radius: 50px;
            top: 50px;
            width: 80%;
            height: 5px;
            /*下面這個不關掉的話選取進度條時會出現藍框*/
            outline: none;
            margin: auto;
            transition: 0.2s;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            position: relative;
            width: 11px;
            height: 11px;
            background: rgb(201, 201, 201);
            border-radius: 50%;
            transition: 0.2s;
        }

        input::-webkit-slider-runnable-track {
            transition: 0.5s;
        }

        input::-webkit-slider-thumb:hover {
            width: 15px;
            height: 15px;
        }

        .btn:hover {
            background: skyblue;
            cursor: pointer;
        }

        .btn:active {
            background: silver;
        }

        .btn img {
            width: 30px;
            height: 22.5px;
            margin: 10px;
            /*下面是色彩反轉的濾鏡效果(把黑圖片變白)*/
            filter: invert();
        }
    </style>

</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="#"><img @*src=""*@ alt=""></a>
            <button class="navbar-toggler header-logo-text" type="button">LOGO</button>
        </div>

        @* 搜尋條--套用bootstrap(input-group) *@
    <div class="searchBar">
        @* 基本搜尋條(結合進階搜尋鍵) *@
        <div class="input-group">
            <input class="searchtxt form-control" type="text" placeholder="搜尋歌曲..." name="basicSearch">
            <div class="input-group-append">
                <div class="btn btn-outline-secondary" id="advancedBtn">進階搜尋</div>
                <div class="btn btn-outline-secondary searchBtn">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>

        @* 進階搜尋面板 *@
        <div class="advancedPanel">
            <div class="advancedItemGroup">
                <div class="advancedItem">
                    歌曲名稱
                    <input type="text" class="advancedtxt form-control" id="adSong" />
                </div>
                <div class="advancedItem">
                    專輯名稱
                    <input type="text" class="advancedtxt form-control" id="adAlbum" />
                </div>
                <div class="advancedItem">
                    歌手
                    <input type="text" class="advancedtxt form-control" id="adSinger" />
                </div>
                <div class="advancedItem">
                    團體名稱
                    <input type="text" class="advancedtxt form-control" id="adGroup" />
                </div>
                <div class="advancedItem">
                    作曲者
                    <input type="text" class="advancedtxt form-control" id="adComposer" />
                </div>
                <div class="advancedItem">
                    發行類別
                    <select class="advancedtxt form-control" id="adType">
                        <option value="0">不指定</option>
                        @* 網頁初始化時會在這裡更新搜尋的類別 *@
                    </select>
                </div>
            </div>

            @* 這邊放自選類別 *@
            <div class="typeSelectGroup">
                @* 選擇想要的類別 *@
                <div class="typeSelect advancedSelect">
                    偏好的曲風
                    <div class="advancedBlock">
                        @* 網頁初始化時會在這裡更新曲風與增加鈕 *@
                    </div>

                    @* 點選+號後會出現的type選擇表，位置應在+號正下方 *@
                    <div class="selectableItemPanel">
                        @* 網頁初始化時會在這裡更新曲風 *@
                    </div>
                </div>

                @* 進階搜尋鍵 *@
                <div class="searchPanel">
                    <button class="btn btn-primary adSearchBtn">搜尋</button>
                </div>
            </div>
        </div>
    </div>

        <div class="header-button">
            <button type="button">註冊</button>
            <button type="button">登入</button>
        </div>
    </div>

    <div id="container">
        <!--邊條選項欄-->
        <div class="sidebox">
            <ul>
                <li>
                    <a href="/Homepage/Main">
                        <div class="menuItem">
                            <i class="fa fa-home"></i>
                            <span>首頁</span>
                        </div>
                    </a>
                </li>
                <li class="side-li-serach-img">
                    <a href="/Search/Kinds">
                        <div class="menuItem">
                            <i class="fa fa-search"></i>
                            <span>音樂分類</span>
                        </div>
                    </a>
                </li>
                <li class="side-li-mymusiclibiary-img">
                    <a>
                        <div class="menuItem">
                            <i class="fa fa-music"></i>
                            <span>你的音樂庫</span>
                        </div>
                    </a>
                </li>
                <li class="side-li-twoPlayer">
                    <div class="menuItem">
                        <a href="/TwoPlayer/DemoPlayer">雙重播放器測試</a>
                    </div>
                </li>
            </ul>
        </div>


        <!--內容主體-->
        <div class="mainbox">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div id="playerPanel">
            <!-- 封面與歌名div -->
            <figure id="playerfigure">
                <img src="#" class="title">
                <figcaption id="playerfigcaption" class="description title">這裡放專輯名</figcaption>
            </figure>
            <div id="titlePanel">
                <span class="description">這裡放歌名</span><br>
                <span id="singer">這裡放歌手</span>
            </div>

            <!-- 基本按鍵div -->
            <div id="btnPanel">
                <div id="random" class="btn"><img src="/PlayerImg/random.png"></div>
                <div id="prev" class="btn"><img src="/PlayerImg/prev.png"></div>
                <div id="play" class="btn"><img src="/PlayerImg/play.png"></div>
                <div id="pause" class="btn"><img src="/PlayerImg/pause.png"></div>
                <div id="next" class="btn"><img src="/PlayerImg/next.png"></div>
                <div id="replay" class="btn"><img src="/PlayerImg/replay.png"></div>
            </div>

            <!-- 進度條div -->
            <div id="progressPanel">
                <span id="nowTime">00:00</span>
                <input id="progress" type="range" min="0" max="100" step="0.01" value="0">
                <span id="totalTime">00:00</span>
            </div>

            <!-- 音量條div -->
            <div id="volumePanel">
                <img src="/PlayerImg/sound.png" data-sound="volumeImg" id="volumeImg" class="sound">
                <img src="/PlayerImg/mute.png" data-sound="muteImg" id="muteImg" class="sound">
                <input id="volumeBar" type="range" min="0" max="1" step="0.01" value="0.5">
            </div>

            <!--播放器本體-->
            <audio id="mainPlayer" src="/Music/‪02 紅魔 「Un-demystified Fantasy」.mp3"></audio>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        /////////////////
        ///主播放器相關///
        /////////////////

        var player;//主播放器
        var playing;//是否正在播放中
        var totalTime;//本次歌曲的秒數總長度
        var nowVolume;//當前音量

        //避免頁面刷新時既有變數被重置或重複給予事件
        if (player == null) {
            player = document.getElementById("mainPlayer");
            playing = false;
            $("#pause").css("display", "none");
            $("#muteImg").css("display", "none");
            player.volume = 0.5;
            $("#volumeBar").css({ "background-image": "-webkit-linear-gradient(left , #5599FF 50%,#fff 0px)" });

            nowVolume = player.volume;

            //初始化播放器內音樂的總長度，並將值傳給進度條
            player.addEventListener("durationchange", function () {
                totalTime = parseInt(player.duration);
                $("#progress").prop("max", totalTime);

                let m1 = parseInt(totalTime / 600);
                let m2 = parseInt(totalTime / 60);
                let s1 = parseInt(totalTime % 60 / 10);
                let s2 = parseInt(totalTime % 60 % 10);
                $("#totalTime").text(`${m1}${m2}:${s1}${s2}`);
            });

            //播放器的timer
            player.addEventListener("timeupdate", function () {
                $("#progress").prop("value", player.currentTime);

                let now = player.currentTime;
                let m1 = parseInt(now / 600);
                let m2 = parseInt(now / 60);
                let s1 = parseInt(now % 60 / 10);
                let s2 = parseInt(now % 60 % 10);
                $("#nowTime").text(`${m1}${m2}:${s1}${s2}`);

                //進度條的變化
                let persent = now / totalTime * 100;
                let p = parseInt($("#progress").css("width")) / 100;
                let f = persent * p;
                $("#progress").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${f}px,#fff 0px)` });
            });

            //音樂播放鍵
            $("#play").click(function () {
                player.play();
                playing = true;
                $("#play").css("display", "none");
                $("#pause").css("display", "inline-block")
            })

            //音樂暫停鍵
            $("#pause").click(function () {
                player.pause();
                playing = false;
                $("#play").css("display", "inline-block");
                $("#pause").css("display", "none")
            })

            //調整音量時能立即更動而不用放開滑鼠
            $("#volumeBar").on('input', function () {
                $(this).trigger("change");
            })
            //音量調節鍵
            $("#volumeBar").on('change', function () {
                player.volume = this.value;
                let v = this.value * 100;
                $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${v}%,#fff 0px)` });
                if (player.volume == 0) {
                    $("#volumeImg").css("display", "none");
                    $("#muteImg").css("display", "inline-block");
                }
                else {
                    $("#volumeImg").css("display", "inline-block");
                    $("#muteImg").css("display", "none");
                }
            });

            //靜音鍵
            $(".sound").click(function () {
                let data = $(this).data("sound");
                switch (data) {
                    case "volumeImg":
                        nowVolume = player.volume;
                        player.volume = 0;
                        $("#volumeBar").prop("value", 0);
                        $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${0}%,#fff 0px)` });
                        $("#volumeImg").css("display", "none");
                        $("#muteImg").css("display", "inline-block");
                        break;

                    case "muteImg":
                        player.volume = nowVolume;
                        $("#volumeBar").prop("value", nowVolume);
                        $("#volumeBar").css({ "background-image": `-webkit-linear-gradient(left , #5599FF ${nowVolume * 100}%,#fff 0px)` });
                        $("#volumeImg").css("display", "inline-block");
                        $("#muteImg").css("display", "none");
                        break;
                }
            });

            //選擇進度條後立刻發動值的change(否則會出現延遲，造成改值失敗)
            $("#progress").on('input', function () {
                player.pause();
                $(this).trigger("change");
            })
            //音樂進度條改變
            $("#progress").change(function () {
                player.currentTime = this.value;
            });
            //拖動進度條直到放開滑鼠才重新開始播放
            $("#progress").mouseup(function () {
                if (playing)
                    player.play();
            });

            /////////////////////
            ///AJAX切換頁面相關///
            /////////////////////


            //為了使用ajax所寫的自定義方法
            //link參數為url字串
            function changePage(link) {

                //$(".mainbox").load(link);
                //更新老師上課說法
                //load可以讀取一個頁面中的部分位置如"AAA/BBB #div1>img"這種寫法
                //意為讀取該網頁id為div1中的img
                //但是mvc本身有PartailView這個功能，因此應該用不到load

                //下面的data是ajax方法發動後從對定應的action裡取得的html語法，必須事先寫好
                //$.get(link, function (data) {
                //    $(".mainbox").html(data);
                //})

                //如果有上傳參數到後端則使用$.post的ajax方法
                //不過為了配合重新整理頁面不跑掉的系統，暫時是一律使用$.post來處理所有ajax
                $.post(link , { ajax: true }, function (data) {
                    $(".mainbox").html(data);
                })
            }

            //點連結將主容器切換到新頁面，這個的內容會根據連結的不同有所改變
            $("a").on("click", function (e) {
                let link = $(this).attr("href");
                changePage(link);
                //給予網頁虛擬網址，隨便打都能過，但是最好讓他跟實際變換的網址同名
                //第一個參數要帶狀態物件，若點選的連結沒有參數指定就可以給null
                //反過來說，有參數指定的連結最好額外再寫一個ajax判斷式比較好
                history.pushState(null, null, link);
                //因為要將網頁連結變成自定義的切換模式，所以記得取消原本a標籤的超連結功能
                e.preventDefault();
            });

            //每當點選瀏覽器的上一頁下一頁便會發動此事件
            //location.pathname為動作完成後所得到的該頁url
            window.addEventListener('popstate', function (e) {
                changePage(location.pathname);
            })

            /////////////////
            ///搜尋條棒相關///
            /////////////////

            //進階搜尋內容的初始化
            $.getJSON('@Url.Action("SetTypes","Search")', function (datas) {
                $.each(datas, function (name, value) {
                    $("#adType").append(`<option value="${value.fTypeID}">${value.fTypeName}</option>`)
                })
            })
            $.getJSON('@Url.Action("SetKinds","Search")', function (datas) {
                $.each(datas, function (name, value) {
                    $(".advancedBlock").append(`<div class="selectedItem" data-kind="${value.KindName}">${value.KindName}</div>`);
                    $(".selectableItemPanel").append(`<div class="selectableItem" data-kind="${value.KindName}">${value.KindName}</div>`)
                })
                $(".advancedBlock").append('<div class="itemAdd"><i class="fa fa-plus"></i></div>');

                $(".itemAdd").click(function () {
                    $(".selectableItemPanel").toggleClass("adSwitch");
                })

                //初始化進階面板曲風選項的顏色
                var color = ["#6bc477", "#C158E8", "#6E7AFF", "#58D5E8", "#A6FFB4", "#C7E874", "#FFE98B"
                  , "#cc9250", "#F587DE", "#FFAB9A", "#FFF56F", "#B5FF5A", "#6796B8", "#7A67B8", "#FFBE50"
                  , "#61FFAD", "#C6565C", "#58C782", "#B9F0FD", "#B6CC6E", "#6EBBCC"];
                  var block = $(".selectableItemPanel").children(".selectableItem");
                  var block2 = $(".advancedBlock").children(".selectedItem");
                for (let i = 0; i < block.length; i++) {
                    block.eq(i).css("background-color", color[i]);
                    block.eq(i).css("background-image", `linear-gradient(to bottom,#16161660 100%,${color[i]})`);
                    block2.eq(i).css("background-color", color[i]);
                    block2.eq(i).css("background-image", `linear-gradient(to bottom,#16161660 100%,${color[i]})`);
                }
                //選擇曲風
                $(".selectableItem").on("click", function () {
                    let kindName = $(this).data("kind");
                    $(this).css("display", "none");
                    $(".advancedBlock").find(`[data-kind = '${kindName}']`).css("display", "inline-block");
                    $(".selectableItemPanel").toggleClass("adSwitch");
                })
                //點擊選擇的曲風即可取消
                $(".selectedItem").on("click", function () {
                    let kindName = $(this).data("kind");
                    $(this).css("display", "none");
                    $(".selectableItemPanel").find(`[data-kind = '${kindName}']`).css("display", "inline-block");
                })
            }) 

            //開啟進階搜尋版面、開啟曲風選擇版面
            $("#advancedBtn").click(function () {
                $(".advancedPanel").toggleClass("adSwitch");
            })
            $(".itemAdd").click(function () {
                $(".selectableItemPanel").toggleClass("adSwitch");
            })
            //點選搜尋區域以外的地方會自動關閉進階搜尋版面(很礙眼)
            $(document).mousedown(function (e) {
                if ($(e.target).parents(".searchBar").length == 0 &&
                    $(e.target).parents(".ui-menu-item").length == 0) {
                    $(".advancedPanel").removeClass("adSwitch");
                }
                if ($(e.target).parents(".selectableItemPanel").length == 0) {
                    $(".selectableItemPanel").removeClass("adSwitch");
                }
            })

            //關鍵字搜尋(只查找歌名並輸出專輯與歌名(專輯可能重複))
            //用trim()除去空白字串
            $(".searchBtn").click(function () {
                let keyword = $(".searchtxt").val().trim();
                if (keyword == "") {
                    return;
                }
                let url = `@Url.Action("Result", "Search")`;
                let stateObj = { keyword: keyword, ajax: true };
                $.post(url, stateObj, function (data) {
                    $(".mainbox").html(data);
                });
                history.pushState(stateObj, null, url);
            })

            //進階搜尋(找出符合條件的專輯(專輯不重複))
            $(".adSearchBtn").click(function () {
                $(".advancedPanel").toggleClass("adSwitch");
                let adSong = $("#adSong").val().trim();
                let adSinger = $("#adSinger").val().trim();
                let adGroup = $("#adGroup").val().trim();
                let adComposer = $("#adComposer").val().trim();
                let adAlbum = $("#adAlbum").val().trim();
                let adType = $("#adType").val();
                let adKinds = "";
                $(".advancedBlock").children(".selectedItem").each(function () {
                    if ($(this).css("display") == "inline-block") {
                        adKinds += ($(this).data("kind") + ",");
                    }
                })
                let url = `@Url.Action("AdvancedResult", "Search")`
                let stateObj = {
                    adSong: adSong,
                    adSinger: adSinger,
                    adGroup: adGroup,
                    adComposer: adComposer,
                    adAlbum: adAlbum,
                    adType: adType,
                    adKinds: adKinds,
                    ajax: true
                }
                $.post(url, stateObj, function (data) {
                    $(".mainbox").html(data);
                });
                history.pushState(stateObj,null,url);
            })

            //所有搜尋text實作autocomplete
            $(".searchtxt,#adSong").autocomplete(
                {
                    source: '@Url.Action("AutoCompleteSong", "Search")'
                });
            $("#adSinger").autocomplete(
                {
                    source: '@Url.Action("AutoCompleteSinger", "Search")'
                });
            $("#adGroup").autocomplete(
                {
                    source: '@Url.Action("AutoCompleteGroup", "Search")'
                });
            $("#adComposer").autocomplete(
                {
                    source: '@Url.Action("AutoCompleteComposer", "Search")'
                });
            $("#adAlbum").autocomplete(
                {
                    source: '@Url.Action("AutoCompleteAlbum", "Search")'
                });      
        }
    </script>

</body>
</html>