@model IEnumerable<MainWork.tAlbum>
@using MainWork.Models;

@{
    ViewBag.Title = "MyAlbumList2";
    if (Request.IsAjaxRequest() == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }

    var account = "";
    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Index/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
    }
    tAlbum tA = new tAlbum();

}

<style>

    /*滑鼠拖曳選擇Kind效果css開始*/
    .containerDrag ul {
        width: 340px;
        padding: 15px;
        min-height: 300px;
        background-color: #292929;
        margin: 20px;
        display: block;
        float: left;
        border-radius: 5px;
        border: 1px solid #bbb;
    }

        .containerDrag ul li {
            display: block;
            float: left;
            width: 90px;
            height: 35px;
            line-height: 35px;
            border-radius: 4px;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: white;
            margin-bottom: 10px;
            -moz-user-select: none;
            user-select: none;
            text-indent: 10px;
            color: black;
            margin-right: 10px
        }

    .albumCreatePanel {
        display: inline-block;
        vertical-align: top;
        padding-left: 50px;
        padding-top: 50px;
        min-width: 1200px;
    }
    /*滑鼠拖曳選擇Kind效果css結束*/
    /*摺疊效果預設摺起來*/
    .foldAlbum {
        display: none;
        line-height: 17pt;
        width: 100%
    }
    /*Tab換頁效果*/
    .tab_btns li {
        display: inline-block;
    }

    .tab_container {
        overflow: hidden; /*關鍵-控制切第2頁時第一頁畫面消失位置*/
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100% /*控制單頁框度使其不超出瀏覽範圍*/
    }

    .tab_contents {
        position: relative; /*關鍵-控制切頁動作*/
        white-space: nowrap; /*關鍵-文字是否換行-控制第二頁內容*/
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        width: 100% /*控制單頁框度使其不超出瀏覽範圍*/
    }

    .tab_contents li {
            display: inline-block; /*關鍵-控制第二頁內容*/
            vertical-align: top; /*關鍵-控制第一頁內容*/
            width: 100%; /*控制單頁框度使其不超出瀏覽範圍*/
            padding: 0 5%;
            margin: 0 auto;
            /*box-sizing: border-box;*/
    }
    .tab_btns li a {
        cursor: pointer;
    }
    /*Tab換頁效果*/
    /*專輯預覽block*/

    .albumBlock {
        display: block;
        width: 15vw;
        height: 22vw;
        min-width: 200px;
        min-height: 293px;
        text-align: center;
        background-color: #292929;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
        transform: scale(0.8);
        transition: 0.4s;
        opacity: 1;
        transform: scale(1);
    }

        /*.animation {
        transform: scale(1);
        opacity: 1;
    }*/

        .albumBlock:hover {
            background-color: #353535;
            text-decoration: none;
        }

    .albumCover {
        position: relative;
        display: inline-block;
        width: 12vw;
        height: 12vw;
        min-width: 160px;
        min-height: 160px;
        /*測試用圖片*/
        /*background-image: url("/Images/4.jpg");*/
        /*background-size: cover;*/
    }

    .albumContent {
        position: relative;
        width: 12vw;
        min-width: 160px;
        overflow: hidden;
        text-align: left;
        margin: 5px 0px;
    }

    .albumTitle {
        display: block;
        width: 12vw;
        min-width: 160px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        /*使多出的字元變...，下面三個屬性都要設才有效果*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .albumDescripion {
        display: inline-block;
        width: 12vw;
        min-width: 160px;
        font-size: 12px;
        font-weight: 600;
        color: #808080;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
        .animation {
        opacity: 1;
    }
    /*專輯預覽block*/

    /*新增上方選單的樣式*/
    .myMenu {
        width: 70%;
        background-image: linear-gradient(to right, #1587dd,#651ea4, #191919)
    }
    .tab_btns{
        padding:0px 0px;
    }
        .tab_btns > li {
            /*background-color:antiquewhite;*/
            font-size: 20px;
            font-weight: 600;
            padding: 10px 0;
            margin:0;
        }
    .tab_btns > li:hover{
        background-color:rgba(255, 255, 255, 0.20)
    }
</style>
<!-- Main CSS-->
<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="~/css/theme.css" rel="stylesheet" media="all">
<script src="~/vendor/animsition/animsition.min.js"></script>



<div id="wrapper">
    <div class="myMenu">
        <ul class="tab_btns">
            @*如果<a>裡面加上href="javascript:void(0);"會報錯*@
            <li class="on nav-item"><a class="nav-link active" onclick="tab_switch(this)" data-div="#tab_contents1">我的專輯</a></li>
            <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1">新增專輯</a></li>
            <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1">販售統計</a></li>
            <li class="nav-item"><a class="nav-link" onclick="tab_switch(this)" data-div="#tab_contents1">單曲總覽</a></li>
        </ul>
    </div>
    @*<div class="container text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs tab_btns">
                    <li class="nav-item on">
                        <a class="nav-link" href="javascript:void(0);" onclick="tab_switch(this);" data-div="#tab_contents1">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="tab_switch(this);" data-div="#tab_contents1">Link</a>
                    </li>
                </ul>
            </div>
        </div>*@
    <div class="tab_container">
        <ul class="tab_contents" id="tab_contents1">
            <li>
                <div class="section__content section__content--p30">
                    @Html.Action("_MyAlbumList")
                </div>
            </li>
            <li>
                <div class="headtitle h1">專輯新增</div>
                @*for start*@
                @using (Html.BeginForm("AddAlbum", "Album", FormMethod.Post, new { enctype = "multipart/form-data", id = "formInput" }))
                {
                    <div class="albumCreatePanel row">
                        <div class="col-md-6">
                            <div class="container" style="color:white">
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <h4>請輸入專輯基本資料</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        *@Html.LabelFor(model => tA.fAlbumName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => tA.fAlbumName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => tA.fAlbumName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        *@Html.LabelFor(model => tA.fMaker, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => tA.fMaker, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => tA.fMaker, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                    @Html.LabelFor(model => tA.fYear, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        <input class="form-control text-box single-line" data-val="true" data-val-required="發行日必填" id="tA_fYear" name="tA.fYear" type="date" value="2020-01-01">
                                        @Html.ValidationMessageFor(model => tA.fYear, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => tA.fType, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @*@Html.EditorFor(model => tA.fType, new { htmlAttributes = new { @class = "form-control" } })*@
                                            <select class="advancedtxt form-control ustom-select my-1 mr-sm-2" name="tA.fType" id="adTypePageload">
                                                @* 網頁初始化時會在這裡更新搜尋的類別 *@
                                            </select>
                                            @Html.ValidationMessageFor(model => tA.fType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => tA.fALPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                @Html.EditorFor(model => tA.fALPrice, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => tA.fALPrice, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        *@Html.LabelFor(model => tA.fCoverPath, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="tA.fCoverRealFile" id="preview_fCoverRealFile_source" />
                                                <label class="custom-file-label" for="customFile">點選圖片</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-9">
                                </div>
                            </div>
                            @*<div class="form-group" style="text-align:center">
                            <div  style="display:inline-block">
                                <img id="preview_fCoverRealFile" src="#" width="320" height="320" />
                            </div>
                            <h3 id="previewTitle">Title</h3>
                            <h4 id="previewGroup">Group</h4>
                            <h4 id="previewPrice">Price</h4>
                            <h4 id="previewTitle">Type</h4>
                            <h4 id="previewTitle">Kind</h4>
                        </div>*@
                            <div class="form-group">
                                <div class="albumBlock">
                                    <div class="albumCover">
                                        <img id="preview_fCoverRealFile" src="" />
                                    </div>
                                    <div class="albumContent">
                                        <span id="previewTitle" class="albumTitle"></span>
                                        <span id="previewGroup" class="albumDescripion"></span>
                                        <span id="previewTypes" class="albumDescripion"></span>
                                        <span id="previewKinds" class="albumDescripion"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*使用拖曳填入input的專輯Kind*@
                            <div class="form-group" style="min-height:400px">
                                @Html.LabelFor(model => tA.fKinds, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    <div class="containerDrag">
                                        <ul id="userKindtaginput"></ul>
                                        <ul id="adKindULPageload"></ul>
                                    </div>
                                    <hr />
                                    @*input除錯用,平常type設成hide*@
                                    <input class="form-control text-box single-line" id="tA_fKinds" name="tA.fKinds" type="hidden" value="">
                                    @Html.ValidationMessageFor(model => tA.fKinds, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <script>
                                $(function () {
                                    drag.init('containerDrag');
                                });
                            </script>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="button" value="Create" id="inputFormSubmit" class="btn btn-warning" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @*for End*@
            </li>
            <li>
                <div class="headtitle h1">我的專輯統計資料</div>
                <div class="section__content section__content--p30">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">本周最多試聽單曲前5</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody id="memberTryWeekTop5SongList">
                                            <tr>
                                                <td>單曲名</td>
                                                <td>筆</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">本月最多試聽單曲前5</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody id="memberTryMonthTop5SongList">
                                            <tr>
                                                <td>單曲名</td>
                                                <td>筆</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">最暢銷單曲前5</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody id="memberTop5SongList">
                                            <tr>
                                                <td>單曲名</td>
                                                <td>$總收入(筆)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">最暢銷專輯前5</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody id="memberTop5AlbumList">
                                            <tr>
                                                <td>專輯名</td>
                                                <td>$總收入(筆)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="au-card m-b-20">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">By 月試聽專輯/單曲總數</h3>
                                    <canvas id="byMonthTry"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="au-card m-b-20">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">By 月購買專輯/單曲總數</h3>
                                    <canvas id="byMonthSale"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="au-card m-b-20">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">試聽/銷售百分比</h3>
                                    <canvas id="pieSaleTryRatio"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="au-card m-b-20">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">週間試聽數變化</h3>
                                    <canvas id="tryWeekOfBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span>最多試聽</span>
            </li>
            <li>
                <div class="headtitle h1">單曲列表</div>
                <div class="section__content section__content--p30">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="py-3">
                                <span>搜尋專輯名稱:</span> <input style="color:black" class="myProductSearchInput" type="text" /> <button class="btn btn-info" id="searchMyProduct">搜尋</button>
                            </div>
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>單曲名</th>
                                            <th>專輯名</th>
                                            <th>歌手</th>
                                            <th>試聽時間</th>
                                            <th>售價</th>
                                            <th>購買數</th>
                                            <th>動作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="memberSongListTable"></tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                </div>
            </li>
            @* 03/08/2020新增使用自訂活動頁面(先放棄實作) *@
            @*<li>
                <div class="section__content section__content--p30">
                    @Html.Action("_userEvent")
                </div>
            </li>*@
        </ul>
    </div>
</div>
@*<div class="container">
        <h3 class="fold-title" data-playurl=""><i class="fa fa-chevron-right"></i> 新增專輯</h3>
        <div class="foldAlbum">
            <div class="fold-container">

            </div>
        </div>
    </div>*@
<script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/js/main.js"></script>

<script>

        setTimeout(function () {
        $(".productitem").addClass("animation");
        }, 200)

        //Tab頁面控制
    function tab_switch(_this) {
   // $(".tabswitch").click(function (_this) {
        //console.log("ccc")
        var now_tab = $(_this).parent().index();
        $(_this).parent().siblings().children().removeClass('active')
        $(_this).addClass("active");
        $(_this).parent().siblings().removeClass('on');
        $(_this).parent().addClass('on');
        var control_div = $(_this).data('div');
        $(control_div).animate({ 'left': '-' + now_tab * 100 + '%' });
        var drag = null;
    };

    //  $("#preview_fCoverRealFile").css("display", "none");
    //名稱與創作者跟右邊預覽同步
    $("#tA_fAlbumName").keyup(function () {
    $("#previewTitle").text($("#tA_fAlbumName").val());
    })
    $("#tA_fMaker").keyup(function () {
        $("#previewGroup").text($("#tA_fMaker").val());
    })

    //Type跟右邊預覽同步-->失效
    $("#adTypePageload").change(function () {
        $("#previewType").text($("#adTypePageload option:selected").text());
//        $("#previewTypes").text("123");
    })

    //$("#userKindtaginput").mouseout(function () {
    //    let kindtag = '';
    //    $("#userKindtaginput li").each(function () {
    //        kindtag += ""+$(this).text() + ',';
    //    })
    //    $("#previewKinds").text(kindtag);
    //})
      //摺疊
    $(function () {
            $('h3').click(function () {
                if ($(this).next('.foldAlbum').hasClass('o') == true) {
                    $(this).find('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-right');
                    $(this).next('.foldAlbum').removeClass('o').slideUp();
                }
                else {
                    $(this).find('i.fa').removeClass('fa-chevron-right').addClass('fa-chevron-down');
                    $(this).next('.foldAlbum').addClass('o').slideDown();
                }
             });
     });

      //圖片選擇按下時時重新載入-跳轉
    $("#preview_fCoverRealFile_source").change(function(){
            readURL(this);
     });

      //圖片選擇按下時時重新載入-方法
    function readURL(input){
            if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview_fCoverRealFile").attr('src', e.target.result);
                $("#preview_fCoverRealFile").css("display", "inline");
                    }
                reader.readAsDataURL(input.files[0]);
                }
            }

    //類別選擇載入
    $.getJSON('@Url.Action("SetTypes","Search")', function (datas) {
        $.each(datas, function (name, value) {
            $("#adTypePageload").append(`<option value="${value.fTypeID}">${value.fTypeName}</option>`)
        })
    });

    $.getJSON('@Url.Action("SetKinds","Search")', function (datas) {
        $.each(datas, function (name, value) {
            $("#adKindULPageload").append(`<li value="${value.KindName}">${value.KindName}</li>`)
              //          $("#adKindULPageload").append(`<li value="111">111</li>`)
        })
    });

    //滑鼠拖動時取得拖曳內容轉成文字方塊
    $("#userKindtaginput, #adKindULPageload").mouseout(function () {
       // let kindtag = '';
        let kindtag = new Array();
        $("#userKindtaginput li").each(function () {
            //kindtag += "" + $(this).text() + ',';
            kindtag.push($(this).text());
          //  console.log($(this).text());
        })
        $("#tA_fKinds").val(kindtag);
        })

    //新增專輯送出時檢查
    $("#inputFormSubmit").click(function () {
            if ($("#preview_fCoverRealFile").attr('src') != "") {
                if ($("#tA_fAlbumName").val() != "") {
                    if ($("#tA_fMaker").val() != "") {
                        if ($("#tA_fALPrice").val() > 0) {
                            $("#formInput").submit();
                        } else {
                 alert("價格需填入>0數字");
                        }
                    } else {
                 alert("需填入歌手名稱");
                    }
                } else {
                 alert("需填入單曲名稱");
                }
            } else {
                 alert("需上傳檔案");
            }
            });

    //試聽
    var m_statistDateTry =new Array();
    var m_statistCntTry =new Array();
    $.getJSON('@Url.Action("getStatistic_tryNum","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                  m_statistDateTry.push(value.date)
                  m_statistCntTry.push(value.CNT)
                  })
            var ctx = document.getElementById("byMonthTry");
        if (ctx) {
            ctx.height = 150;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: m_statistDateTry,
                    type: 'line',
                    defaultFontFamily: 'Poppins',
                    datasets: [{
                        data: m_statistCntTry,
                        label: "Expense",
                        backgroundColor: 'rgba(0,103,255,.15)',
                        borderColor: 'rgba(0,103,255,0.5)',
                        borderWidth: 3.5,
                        pointStyle: 'circle',
                        pointRadius: 5,
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'rgba(0,103,255,0.5)',
                    },]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        titleFontSize: 12,
                        titleFontColor: '#000',
                        bodyFontColor: '#000',
                        backgroundColor: '#fff',
                        titleFontFamily: 'Poppins',
                        bodyFontFamily: 'Poppins',
                        cornerRadius: 3,
                        intersect: false,
                    },
                    legend: {
                        display: false,
                        position: 'top',
                        labels: {
                            usePointStyle: true,
                            fontFamily: 'Poppins',
                        },


                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            scaleLabel: {
                                display: false,
                                labelString: '年/月'
                            },
                            ticks: {
                                fontFamily: "Poppins"
                            }
                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '次',
                                fontFamily: "Poppins"
                            },
                            ticks: {
                                fontFamily: "Poppins"
                            }
                        }]
                    },
                    title: {
                        display: false,
                    }
                }
            });
        }

        })

    //購買
    var m_statistDatePruchase =new Array();
    var m_statistCntPruchase =new Array();
    $.getJSON('@Url.Action("getStatistic_purchaseNum","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                  m_statistDatePruchase.push(value.date)
                  m_statistCntPruchase.push(value.CNT)
                  })
            var ctx = document.getElementById("byMonthSale");
        if (ctx) {
            ctx.height = 150;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: m_statistDatePruchase,
                    type: 'line',
                    defaultFontFamily: 'Poppins',
                    datasets: [{
                        data: m_statistCntPruchase,
                        label: "Expense",
                        backgroundColor: 'rgba(0,103,255,.15)',
                        borderColor: 'rgba(0,103,255,0.5)',
                        borderWidth: 3.5,
                        pointStyle: 'circle',
                        pointRadius: 5,
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'rgba(0,103,255,0.5)',
                    },]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        titleFontSize: 12,
                        titleFontColor: '#000',
                        bodyFontColor: '#000',
                        backgroundColor: '#fff',
                        titleFontFamily: 'Poppins',
                        bodyFontFamily: 'Poppins',
                        cornerRadius: 3,
                        intersect: false,
                    },
                    legend: {
                        display: false,
                        position: 'top',
                        labels: {
                            usePointStyle: true,
                            fontFamily: 'Poppins',
                        },


                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            scaleLabel: {
                                display: false,
                                labelString: '年/月'
                            },
                            ticks: {
                                fontFamily: "Poppins"
                            }
                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '次',
                                fontFamily: "Poppins"
                            },
                            ticks: {
                                fontFamily: "Poppins"
                            }
                        }]
                    },
                    title: {
                        display: false,
                    }
                }
            });
        }

        })

    //購買試聽占比
    var m_statistNamePie =new Array();
    var m_statistCntPie =new Array();
    $.getJSON('@Url.Action("getStatistic_purchaseTry","Statistic")', function (datas) {
        let m_statistTotal =0;
        $.each(datas, function (name, value) {
            m_statistTotal += value.CNT;
       //     console.log(m_statistTotal);
        })
        $.each(datas, function (name, value) {
            if (value.useType == 1) {
                m_statistNamePie.push("試聽")
            } else if (value.useType == 2) {
                m_statistNamePie.push("單曲購買")
            } else if (value.useType == 3) {
                m_statistNamePie.push("專輯購買")
            }
            m_statistCntPie.push((value.CNT / m_statistTotal).toFixed(3) * 100);
          //  console.log(value.CNT);
        })
        //pie chart
        var ctx = document.getElementById("pieSaleTryRatio");
        if (ctx) {
            ctx.height = 200;
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: m_statistCntPie,
                        backgroundColor: [
                            "rgba(0, 123, 255,0.9)",
                            "rgba(0, 123, 255,0.7)",
                            "rgba(0, 123, 255,0.5)",
                            "rgba(0,0,0,0.07)"
                        ],
                        hoverBackgroundColor: [
                            "rgba(0, 123, 255,0.9)",
                            "rgba(0, 123, 255,0.7)",
                            "rgba(0, 123, 255,0.5)",
                            "rgba(0,0,0,0.07)"
                        ]

                    }],
                    labels: m_statistNamePie
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontFamily: 'Poppins'
                        }

                    },
                    responsive: true
                }
            });
        }
    });

    //星期幾
    var m_statistWeekTry =new Array();
    var m_statistWeekCntTry =new Array();
    $.getJSON('@Url.Action("getStatistic_tryWeek","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                if (value.weekOf == 6) {
                    m_statistWeekTry.push("Sat");
                } else if(value.weekOf == 0){
                    m_statistWeekTry.push("Sun");
                } else if(value.weekOf == 1){
                    m_statistWeekTry.push("Mon");
                } else if(value.weekOf == 2){
                    m_statistWeekTry.push("Tue");
                } else if(value.weekOf == 3){
                    m_statistWeekTry.push("Wed");
                } else if(value.weekOf == 4){
                    m_statistWeekTry.push("Thr");
                } else {
                    m_statistWeekTry.push("Fri");
                }
                m_statistWeekCntTry.push(value.CNT);
                  })
    // single bar chart
    var ctx = document.getElementById("tryWeekOfBarChart");
    if (ctx) {
      ctx.height = 150;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: m_statistWeekTry,
          datasets: [
            {
              label: "試聽次數",
              data: m_statistWeekCntTry,
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)"
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }

          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"

              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }
        })

    //最佳銷售單曲
    $.getJSON('@Url.Action("getStatistic_memberTop5Song","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                $("#memberTop5SongList").append(`<tr><td>${value.Song}</td><td>${value.Money}(${value.CNT})</td></tr>`);
                  })
    })

    //最佳銷售專輯
    $.getJSON('@Url.Action("getStatistic_memberTop5Album","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                $("#memberTop5AlbumList").append(`<tr><td>${value.Album}</td><td>${value.Money}(${value.CNT})</td></tr>`);
                  })
    })

    //本周最多試聽單曲
    $.getJSON('@Url.Action("getStatistic_memberTryWeekTop5Song","Statistic")', function (datas) {
            $.each(datas, function (name, value) {
                $("#memberTryWeekTop5SongList").append(`<tr><td title="${value.Album}">${value.Song}</td><td>${value.CNT}</td></tr>`);
                  })
    })

    //會員單曲列表
    $.getJSON('@Url.Action("getStatistic_memberSongListTable","Statistic")', function (datas) {
        $.each(datas, function (name, value) {
            let songlen = value.Song.length;
            let albumlen = value.Album.length;
            let m_songname ="",m_albumname ="";
            if (songlen > 10) {
                m_songname = value.Song;
                value.Song = value.Song.substring(0,10)+"..."
            }
            if (albumlen > 8) {
                m_albumname = value.Album;
                value.Album = value.Album.substring(0,8)+"..."
            }
            let timespan = getTimeText(value.tryEnd-value.tryStart)
            let timeStart = getTimeText(value.tryStart)
            let timeEnd = getTimeText(value.tryEnd)
            $("#memberSongListTable").append(`<tr><td title="${m_songname}">${value.Song}</td><td title="${m_albumname}">${value.Album}</td>
            <td title="演奏:${value.Composer},編曲:${value.Arranger},作詞:${value.Lyricist}">${value.Singer}</td>
            <td title="開始:${timeStart},結束:${timeEnd}">${timespan}</td><td>$${value.Price}</td><td>${value.SongPurchase}</td><td><a href="../AlbumInfo?amid=${value.ID}">編輯</a></td></tr>`);
                  })
    })
    $("#searchMyProduct").click(function () {
        $.getJSON('@Url.Action("myProductSearch","Statistic")?product=' + $(".myProductSearchInput").val().trim(), function (datas) {
                     $("#memberSongListTable tr").empty("");
            $.each(datas, function (name, value) {
                let songlen = value.Song.length;
                let albumlen = value.Album.length;
                let m_songname = "", m_albumname = "";
                if (songlen > 10) {
                    m_songname = value.Song;
                    value.Song = value.Song.substring(0, 10) + "..."
                }
                if (albumlen > 8) {
                    m_albumname = value.Album;
                    value.Album = value.Album.substring(0, 8) + "..."
                }
                let timespan = getTimeText(value.tryEnd - value.tryStart)
                let timeStart = getTimeText(value.tryStart)
                let timeEnd = getTimeText(value.tryEnd)
               
                $("#memberSongListTable").append(`<tr><td title="${m_songname}">${value.Song}</td><td title="${m_albumname}">${value.Album}</td>
            <td title="演奏:${value.Composer},編曲:${value.Arranger},作詞:${value.Lyricist}">${value.Singer}</td>
            <td title="開始:${timeStart},結束:${timeEnd}">${timespan}</td><td>$${value.Price}</td><td>${value.SongPurchase}</td><td><a href="../AlbumInfo?amid=${value.ID}">編輯</a></td></tr>`);
            })
        })
    })

        $(".myProductSearchInput").autocomplete({
            @*source: function (request, response) {
                "@Url.Action("findProd","Statistic")?term=" + request.term.trim()
                }*@
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("findProd","Statistic")?term="+request.term.trim(),
                    //   data: { term: request.term.trim() },
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                            response($.map(result, function (name, val) {
                            return {
                            label: name,
                            value: val
                            }
                        }));
                    }
                });
            },
            minLength: 1
        });
    


    //取得音樂時間文字的方法(第二個有給到小數後兩位)
    function getTimeText(num) {
        let m1 = parseInt(num / 600);
        let m2 = parseInt(num / 60 % 10);
        let s1 = parseInt(num % 60 / 10);
        let s2 = parseInt(num % 60 % 10);
        return `${m1}${m2}:${s1}${s2}`;
    }
</script>
