@model MusicPrj.tMember
@{
    Layout = null;
}

<style>
    /*註冊欄位偏移待修正*/
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal logonForm">
        <h4>會員註冊</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">帳號</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fAccount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group aaa">
            <label class="control-label col-md-2">密碼</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">信箱</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary logon">送出</button>
            </div>
        </div>
    </div>
}
<script>
    $(".logon").click(function () {
        //這邊應該要先ajax事前判斷帳號是否被註冊
        //沒有被註冊的帳號才允許submit
        $("form").submit();
    })
</script>
