@model MainWork.tMember
@using MainWork.Models

@{
    if (ViewBag.ajax != null)
    {
        @(Layout = null);
    }
    ViewBag.Title = "Edit";
    tMember member = Session[CDictionary.SK_CURRENT_LOGINED_USER] as tMember;

}

<style>
    .memberPanel {
        float: left;
        border-radius: 15px;
        width: 80%;
        margin: 10px auto;
        padding: 30px 0px;
        text-align: center;
        font-size: 20px;
    }

    .memberInfo,
    .changePwd {
        margin: 0 20px;
    }

    .member > p {
        color: #8E8E8E;
        font-size: 80%;
    }

    .member > img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: cover;
    }
</style>

<div class="headtitle h1">會員修改</div>
<div class="memberPanel row">
    <div class="memberInfo col-4">
        <div class="member">
            <img src="~/Images/@Model.fPicPath" />
            <p></p>
        </div>

        <label>會員帳號 : </label>
        @Model.fAccount
        <p></p>

        <label>信箱 : </label>
        @Model.fEmail
        <p></p>

        <label>暱稱 : </label>
        @Model.fNickName
        <p></p>

        <label>會員類別 : </label>
        @if (@Model.fPrivilege == 0)
        {
            <span>一般會員</span>
        }
        else if (@Model.fPrivilege == 1)
        {
            <span>包月會員</span>
        }
        else
        {
            <span>管理員</span>
        }
        <p></p>

        <label>剩餘積分 : </label>
        @Convert.ToInt32(Model.fMoney)
        <p></p>
    </div>

    @using (Html.BeginForm("Edit", "MemberHome", FormMethod.Post, new { enctype = "multipart/form-data", @class = "memberInfo col-4", id = "memberform" }))
    {
        <div class="member">
            <img id="showPicPath" src="~/Images/nobody.jpg" />
        </div>
        <label>修改頭像 : </label>
        <input type="file" name="fPicPath" id="picpath" />
        <p></p>

        <label>舊密碼 : </label>
        <input type="password" name="fPassword" placeholder="Password" class="form-control" />
        <p></p>

        <label>新密碼 : </label>
        <input type="password" name="fPassword" placeholder="Password" class="form-control" value="" />
        <p></p>

        <label>新密碼確認 : </label>
        <input type="password" name="fPassword" placeholder="Password" class="form-control" value="" />
        <p></p>

        <label>修改信箱 : </label>
        <input type="email" name="fEmail" placeholder="Email" class="form-control" value="@Model.fEmail" />
        <p></p>

        <label>修改暱稱 : </label>
        <input type="text" name="fNickName" placeholder="NickName" class="form-control" value="@Model.fNickName" />
        <p></p>

        <input type="hidden" name="fAccount" value="@Model.fAccount" />
        <ul>
            <li>
                <a class="btn btn-primary link" href="@Url.Action("Index", "MemberHome")">返回</a>

                <a href="@Url.Action("Edit", "MemberHome")" class="btn btn-primary alter">修改</a>
            </li>
        </ul>
    }
</div>


<script>
    var img;
    @* 預覽圖片 *@
    $("#picpath").change(function (e) {
            let file = this.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(file);
            console.log(file);
            reader.onload = function (e) {
                $("#showPicPath")[0].src = e.target.result;
                img = e.target.result;
            }
    })

    $(".alter").on("click", function (e) {
        e.preventDefault();
        let formdata = new FormData($("#memberform")[0]);
        let link = $(this).attr("href");
        history.pushState({ ajax: true, scrollY: 0 }, null, link);
        $.ajax({
            beforeSend: function () {
                $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
            },
            url: link,
            data: formdata,
            contentType: false,
            processData: false,
            type: "post",
            success: function (data) {
                $(".mainbox").html(data);
                $(".header-Upperrightcorner-img")[0].src = img;
            },
            complete: function () {
                $(window).scrollTop(0);
            }
        })
    });

    @*$post('@Url.Action("action","controller")', { email:"xxxx@ffffff",password:"xxxxxxxxx"}, function (datas) {
        var  s = $("#email").val();
        $("#originalEmail").val(s);
    })*@


</script>