@model List<MainWork.tAlbum>
    @using MainWork.Models;
@{
    if (ViewBag.ajax != null)
    {
        @(Layout = null);
    }
    var events = ViewBag.events as IEnumerable<tActivity>;
}
<style>
    .albumPanel {
        display: flex;
        flex-wrap: wrap;
        min-width:600px;
        position: relative;
        padding: 20px;
    }

    .albumBlock {
        display: block;
        width: 15vw;
        height: 22vw;
        min-width: 200px;
        min-height: 293px;
        text-align: center;
        background-color: #292929;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s;
        opacity: 0;
    }

    .animation {
        opacity: 1;
    }

        .albumBlock:hover {
            background-color: #353535;
            text-decoration:none;
        }

    .albumCover {
        position: relative;
        display:inline-block;
        width: 12vw;
        height: 12vw;
        min-width: 160px;
        min-height: 160px;
        border-radius:10px;
        /*測試用圖片*/
        /*background-image: url("/Images/4.jpg");*/
        background-size: cover;
    }

    .albumContent {
        position: relative;
        width: 12vw;
        min-width: 160px;
        overflow: hidden;
        text-align: left;
        margin:5px 0px;
    }

    .albumTitle {
        display:block;
        width: 12vw;
        min-width: 160px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        /*使多出的字元變...，下面三個屬性都要設才有效果*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .albumDescripion {
        display: inline-block;
        width: 12vw;
        min-width: 160px;
        font-size: 12px;
        font-weight: 600;
        color: #808080;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /*廣告牆*/
    #adCarousel {
        margin: 50px auto;
        width: 900px;
    }
    .carousel-item{
        cursor:pointer;
    }

    /*折扣文字*/
    .discount{
        display:inline-block;
        position:relative;
        font-size:12px;
        font-weight:600;
        color:red;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body>
    <div id="adCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{int c = 0;}
            @foreach (var e in events)
            {
                if (c == 0)
                {
                    <li data-target="#adCarousel" data-slide-to="@c" class="active"></li>
                }
                else
                {
                <li data-target="#adCarousel" data-slide-to="@c"></li>
                }
                c++;
            }
            <li data-target="#adCarousel" data-slide-to="@(c)"></li>
            <li data-target="#adCarousel" data-slide-to="@(c+1)"></li>
            <li data-target="#adCarousel" data-slide-to="@(c+2)"></li>
        </ol>
        <div class="carousel-inner">
            @{c = 0;}
            @foreach (var item in events)
            {
                if (c == 0)
                {
                    <a class="carousel-item active" data-event="@item.fId">
                        <img src="~/Images/@item.fPhotoPath" class="d-block w-100">
                    </a>
                }
                else
                {
                    <a class="carousel-item" data-event="@item.fId">
                        <img src="~/Images/@item.fPhotoPath" class="d-block w-100">
                    </a>
                }
                c++;
            }
            <a class="carousel-item" href="@Url.Action("Kinds","Search")">
                <img src="~/Images/top12.jpg" class="d-block w-100">
            </a>
            <a class="carousel-item" href="@Url.Action("Kinds","Search")">
                <img src="~/Images/top18.jpg" class="d-block w-100">
            </a>
            <a class="carousel-item" href="@Url.Action("Kinds","Search")">
                <img src="~/Images/top20.jpg" class="d-block w-100">
            </a>
        </div>
        <a class="carousel-control-prev" href="#adCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#adCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="h3 mx-5 mt-5 font-weight-bold">所有音樂</div>
    <div class="albumPanel">
        @foreach (var item in Model)
        {
            //data屬性如果命名含大寫會讀不到!!!!!!!!!!!
        <a class="albumBlock" href="@Url.Action("AlbumDetail","Album")" data-album="@item.fAlbumID">
            @* 這邊的封面連結記得到時候要改成連接圖片路徑 *@
            <img src="~/Images/@item.fCoverPath" class="albumCover" />
            <div class="albumContent">
                <span class="albumTitle">@item.fAlbumName</span>
                <span class="albumDescripion">@item.fMaker</span>
                @if (item.tAlbumType.fTypeName != "不指定")
                {
                    <span class="albumDescripion">@item.tAlbumType.fTypeName</span>
                }
                <span class="albumDescripion">@item.fKinds</span>
                @if (item.fActivityID != null)
                {
                    <div class="discount">@((1 - item.fDiscount) * 100)% off!</div>
                }
            </div>
        </a>
        }
    </div>
    @* 建立廣告牆輪播需讀取的js *@
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        setTimeout(function () {
            $(".albumBlock").addClass("animation");
        }, 200)

        $(".albumBlock").click(function (e) {
            e.preventDefault();
            let amid = $(this).data("album");
            let url = `${$(this).attr("href")}?amid=${amid}`;
            let stateObj = { amid: amid, ajax: true, scrollY: 0 };
            history.pushState(stateObj, null, url);
            $.ajax({
                url: url,
                data: history.state,
                type: "post",
                beforeSend: function () {
                    $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                success: function (data) {
                    $(".mainbox").html(data);
                },
                complete: function () {
                    $(window).scrollTop(0);
                }
            })

            let title = $(this).data("title");
            document.title = title;
        });

        $("#adCarousel").carousel(function () {
            intetval: 1000;
        });

        $(".carousel-item").click(function (e) {
            e.preventDefault();
            let eventId = $(this).data("event");
            let url = `@Url.Action("EventResult", "Search")/?eventId=${eventId}`;
            let stateObj = { eventId: eventId, ajax: true, scrollY: 0 };
            y = 0;
            history.pushState(stateObj, null, url);

            $.ajax({
                url: url,
                data: history.state,
                beforeSend: function () {
                    $(".mainbox").html(
                    `<div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>`);
                },
                success: function (data) {
                    $(".mainbox").html(data);
                },
                complete: function () {
                    $(window).scrollTop(0);
                }
            })
        })

    </script>
</body>