@model List<MainWork.ViewModels.CSearchResult>

<style>
    .albumPanel {
        display: flex;
        flex-wrap: wrap;
        min-width: 600px;
        position: relative;
        padding: 20px;
    }

    .albumBlock {
        display: block;
        width: 15vw;
        height: 22vw;
        min-width: 200px;
        min-height: 293px;
        text-align: center;
        background-color: #292929;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
        transition: 0.4s;
        opacity: 0;

        overflow:hidden;
    }

    .animation {
        opacity: 1;
    }

    .albumBlock:hover {
        background-color: #353535;
        text-decoration: none;
    }

    .albumCover {
        position: relative;
        display: inline-block;
        width: 12vw;
        height: 12vw;
        min-width: 160px;
        min-height: 160px;
        border-radius: 10px;
        /*測試用圖片*/
        /*background-image: url("/Images/4.jpg");*/
        background-size: cover;
    }

    .albumContent {
        position: relative;
        width: 12vw;
        min-width: 160px;
        overflow: hidden;
        text-align: left;
        margin: 5px 0px;
    }

    .albumTitle {
        display: block;
        width: 12vw;
        min-width: 160px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
        /*使多出的字元變...，下面三個屬性都要設才有效果*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .albumDescripion {
        display:block;
        width: 12vw;
        min-width: 160px;
        font-size: 16px;
        font-weight: 600;
        color: #808080;
        margin-bottom:5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /*查無資料*/
    .noResult {
        position: relative;
        text-align: center;
        top: 40%;
        margin: auto;
    }
    /*折扣文字*/
    .discount {
        display: inline-block;
        position: relative;
        font-size: 12px;
        font-weight: 600;
        color: #dc0000;
    }
</style>

<body>
    @if (Model.FirstOrDefault() == null)
    {
        <div class="noResult">
            <div class="h3">查無資料</div>
            <p>請確認關鍵字輸入是否正確，或試著減少字數搜尋</p>
        </div>
    }
    else
    {
        <div class="h3 mx-5 mt-5 font-weight-bold searchTitle">所有音樂</div>
    }

    <div class="albumPanel">
        @foreach (var item in Model)
        {
            <a class="albumBlock" href="@Url.Action("AlbumDetail","Album")?amid=@item.album.fAlbumID" data-album="@item.album.fAlbumID" data-title="@item.album.fAlbumName" title="@item.product.fProductName">
                <img src="~/Images/@item.album.fCoverPath" class="albumCover" />
                <div class="albumContent">
                    <span class="albumTitle">@item.product.fProductName</span>
                    <span class="albumDescripion">@item.album.fAlbumName</span>
                    @if (item.product.fSinger != null)
                    {
                        <span class="albumDescripion">歌手:@item.product.fSinger</span>
                    }
                    <span class="albumDescripion">作曲:@item.product.fComposer</span>
                    @if (item.album.fActivityID != null)
                    {
                        <div class="discount">@((1 - item.album.fDiscount) * 100)% off!</div>
                    }
                </div>
            </a>
        }
    </div>
    <script>
        setTimeout(function () {
            $(".albumBlock").addClass("animation");
        }, 200)

        $(".albumBlock").click(function (e) {
            e.preventDefault();
            let amid = $(this).data("album");
            let url = this.href;
            let stateObj = { amid: amid, ajax: true };
            history.pushState(stateObj, null, url);
            $.ajax({
                url: url,
                data: history.state,
                type: "post",
                beforeSend: function () {
                    $(".mainbox").html(
                        `<div class="loading">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>`);
                },
                success: function (data) {
                    $(".mainbox").html(data);
                },
                complete: function () {
                    $(window).scrollTop(0);
                }
            })

            let title = $(this).data("title");
            document.title = title;
        });

        $(".noResult").find(".h3").text(`查無 ${history.state.keyword} 的資料`);
        $(".searchTitle").text(`「${history.state.keyword}」的搜尋結果`);
    </script>
</body>
