@model MainWork.tActivity
@using MainWork.Models;

@{
    var types = ViewBag.types as IEnumerable<tAlbumType>;
    var kinds = ViewBag.kinds as IEnumerable<tAlbumKind>;
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    var account = "";

    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Admin/login/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
        if (account != "aaa")
        {
            Response.Redirect("~/Admin/login/");
        }
        else
        {

        }
    }
}
<!DOCTYPE html>

<html>
<head>
    <style>
        .title {
            font-weight: 800;
            font-size: 30px;
            margin: 20px 0px;
        }

        .tabcontent {
            padding: 6px 12px;
            border: 1px solid #ccc;
            background-color: rgba(206, 226, 231, 0.80);
            margin: 20px 60px;
        }

        .newPanel {
            padding: 20px 50px;
        }

        .kindPanel {
            display: inline-block;
            position: relative;
        }

        .preview {
            width: 504px;
            height: 210px;
            border: 1px dashed gray;
            background-size: cover;
        }

        .albumRowPanel {
            display: inline-block;
            width: 100%;
            height: 550px;
            box-shadow: inset 0px 0px 1px 1px #5f5f5f;
            padding: 3px;
            overflow: auto;
        }

        .tableTitle {
            background-color: #85cee4;
        }

            .tableTitle > th {
                color: #2976cc;
            }

        .trItem {
            border-bottom: 1px solid white;
            cursor: pointer;
        }

            .trItem:hover {
                background-color: #aadfef;
            }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="tabcontent eventEdit">
        <form id="eventEdit" enctype="multipart/form-data" method="post">
            @* 跟新增頁面相比多了一個隱藏活動id的input *@
            <input type="hidden" value="@Model.fId" name="eventId" />

            <div class="newPanel row">
                <div class="col-4">
                    <div class="h3 my-3 font-weight-bold">活動資訊</div>

                    @* 活動內容的表單 *@
                    <div class="textForm">
                        <div class="form-group">
                            <label for="eventName" class="col-form-label">活動名稱</label>
                            <div>
                                <input class="form-control" type="text" value="@Model.fTitle" maxlength="20" name="eventName" placeholder="最多二十個字元" id="eventName" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">開始日期</label>
                            <div>
                                <input class="form-control startDate" type="date" name="startDate" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">結束日期</label>
                            <div>
                                <input class="form-control endDate" type="date" name="endDate" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">特價折數</label>
                            <div>
                                <select class="form-control discount" value="0.8" form="eventEdit" name="discount" disabled>
                                    <option value="0.9">九折</option>
                                    <option value="0.8">八折</option>
                                    <option value="0.7">七折</option>
                                    <option value="0.6">六折</option>
                                    <option value="0.5">五折</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <label class="col-form-label">上傳活動圖片</label>
                        <div>
                            <input type="file" class="w-50 mr-3 mt-1 upload" accept="image/jpg" name="eventImage" />
                        </div>
                    </div>
                    <div class="hidden">
                        <small class="form-text mb-3">活動圖片僅限jpg檔，並且大小為840x350，否則會發生切圖</small>
                    </div>

                    @* 挑選專輯的表單 *@
                    <div class="h3 mt-5 font-weight-bold hidden">專輯選擇</div>
                    <div class="form-group hidden">
                        <label class="col-form-label">販售類別</label>
                        <div>
                            <select class="form-control typeSelected" form="eventInfo">
                                @foreach (var item in types)
                                {
                                    <option value="@item.fTypeID">@item.fTypeName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-form-label mr-3 hidden">音樂曲風</div>
                    <div class="kindPanel hidden">
                        @foreach (var item in kinds)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input kindItem" type="checkbox" id="checkbox@(item.KindID)" value="@item.KindID">
                                <label class="form-check-label" for="checkbox@(item.KindID)">@item.KindName</label>
                            </div>
                        }
                    </div>
                    <div class="hidden">
                        <small class="form-text mb-3">只要有一項曲風符合就會加入到清單中</small>
                    </div>
                    <div>
                        <div class="btn btn-success mt-4 mr-3 edit">開啟修改</div>
                    </div>
                    <div class="hidden">
                        <div class="btn btn-success mt-4 mr-3 save">儲存修改</div>
                        <div class="btn btn-danger mt-4 mr-3 delete">刪除此活動</div>
                    </div>

                </div>

                @* 右邊那行(顯示資料) *@
                <div class="col ml-5">
                    <div class="h5 my-y font-weight-bold">圖片預覽</div>
                    <div class="mb-5 preview">
                        @* 上傳圖片會讀進來 *@
                    </div>

                    <div class="h5 mb-3 font-weight-bold listTitle">參與本次活動的專輯清單</div>
                    <div class="hidden">
                        <div class="btn btn-primary mb-1 all">全選擇</div>
                        <div class="btn btn-info mb-1 cancelAll">全取消</div>
                    </div>
                    <div class="albumRowPanel">
                        <table class="table text-center table-bordered">
                            <thead>
                                <tr class="tableTitle">
                                    <th scope="col" class="hidden">選取</th>
                                    <th scope="col">專輯名稱</th>
                                    <th scope="col">販賣類型</th>
                                    <th scope="col">專輯曲風</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var a in Model.tAlbums)
                                {
                                    <tr class="trItem">
                                        <td class="hidden"><input type="checkbox" value="@a.fAlbumID" checked /></td>
                                        <td>@a.fAlbumName</td>
                                        <td>@a.tAlbumType.fTypeName</td>
                                        <td>@a.fKinds</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        //讀取頁面時初始化該活動的資訊內容

        //很神奇的，必須從資料庫讀出時間字串，然後再轉換成Date格式，再轉換成ISO字串才能丟進input的value裡
        //簡直WTF
        //更WTF的是，資料庫26號存進input會顯示25號(目前先直接+1天處理)
        let sd = "@Model.fStartTime".split(" ")[0].trim();
        let ed = "@Model.fEndTime".split(" ")[0].trim();
        console.log(sd)
        console.log(new Date())

        sd = new Date(sd)
        sd.setDate(sd.getDate() + 1);
        sd = sd.toISOString().split("T")[0];
        ed = new Date(ed);
        ed.setDate(ed.getDate() + 1);
        ed = ed.toISOString().split("T")[0];
        $(".startDate").val(sd);
        $(".endDate").val(ed);

        console.log($(".startDate").val())

        //同樣要處理可選擇的時間限制
        let date = new Date();
        let date2 = new Date();
        date2.setDate(date2.getDate() + 1);
        date2 = date2.toISOString().split("T")[0];
        $(".startDate").attr("min", date);
        $(".endDate").attr("min", date2);

        //每次設定起始時間時都要更新結束時間的最小值
        $(".startDate").change(function () {
            let min = new Date(this.value);
            min.setDate(min.getDate() + 1);
            min = min.toISOString().split("T")[0];
            $(".endDate").attr("min", min);
            //如果起始時間大於目前結束時間，自動將結束時間更改為起始時間＋１日
            let end = new Date($(".endDate").val());
            if (end < (new Date(this.value))) {
                $(".endDate").val(min);
            }
        })

        //初始化圖片、折數
        $(".preview").css("background-image", `url("/Images/@Model.fPhotoPath")`)
        let discount = @ViewBag.discount;
        $(".discount").val(discount);

        //讀圖片檔上傳預覽
        $(".upload").change(function (e) {
            file = this.files[0];
            f = e.target.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $(".preview").css("background-image", `url(${e.target.result})`)
            }
        })

        //音樂清單的全選全取消
        $(".all").click(function () {
            $(".trItem").find("input[type = checkbox]").each(function () {
                this.checked = true;
            })
        })
        $(".cancelAll").click(function () {
            $(".trItem").find("input[type = checkbox]").each(function () {
                this.checked = false;
            })
        })

        //開啟修改
        $(".edit").click(function () {
            let today = new Date();
            let startDay = new Date($(".startDate").val());
            if ( startDay <= today) {
                alert("已經開始的活動禁止修改!");
            }
            else {
                $(".hidden").addClass("tag").removeClass("hidden");
                $(this).parent().addClass("hidden");
                $(".listTitle").text("選擇專輯加入活動");
                $(".textForm").find("input").prop("disabled", false);
                $("select").prop("disabled", false);
            }
        })
        //儲存修改
        $(".save").click(function () {
            let eventObj = new FormData($("#eventEdit")[0]);
            if (confirm("確定要進行修改?")) {
                $.ajax({
                    url: '@Url.Action("EventAlter", "Admin")',
                    type: "post",
                    data: eventObj,
                    processData: false,
                    contentType: false,
                    success: function () {
                        alert("修改成功!")
                        window.location.href = "@Url.Action("EventPage","Admin")";
                    }
                })
            }
        })

        //刪除修改
        $(".delete").click(function () {
            let eventObj = new FormData($("#eventEdit")[0]);
            if (confirm("確定要刪除這個活動?")) {
                $.ajax({
                    url: '@Url.Action("EventDelete","Admin")',
                    type: "post",
                    data: eventObj,
                    processData: false,
                    contentType: false,
                    success: function () {
                        alert("已刪除活動!")
                        window.location.href = "@Url.Action("EventPage","Admin")";
                    }
                })
            }
        })

        function listRenew() {
            let type = $(".typeSelected").val();
            let kinds = [];
            $(".kindItem:checked").each(function () {
                kinds.push(this.value);
            })
            $.ajax({
                url: "@Url.Action("EventAlbum","Admin")",
                data: { kinds: kinds, type: type },
                method: "POST",
                success: function (datas) {
                    $(".list").html("");
                    if (datas.length == 0) {
                        $(".list").append(`<tr><td colspan=4>沒有符合條件的專輯或相關專輯已有所屬活動</td></tr>`);
                    }
                    $.each(datas, function (name, value) {
                        let chk = `<td><input type="checkbox" value="${value.fAlbumID}" name="eventAlbums"/></td>`;
                        let title = `<td>${value.fAlbumName}</td>`;
                        let type = `<td>${value.fTypeName}</td>`
                        let kind = `<td>${value.fKinds}</td>`
                        $(`<tr class="trItem">${chk + title + type + kind}</tr>`).appendTo((".list"));
                    })
                    //點選row等同點選checkbox
                    $(".trItem").on("click", function (e) {
                        let target = $(this).find("input[type = checkbox]")[0];
                        if (e.target != target) {
                            target.checked = !target.checked;
                        }
                    })
                }
            });
        }

        $(".trItem").on("click", function (e) {
           let target = $(this).find("input[type = checkbox]")[0];
           if (e.target != target) {
               target.checked = !target.checked;
           }
        })
        $(".kindItem").change(function () {
            listRenew();
        })
        $(".typeSelected").change(function () {
            listRenew();
        })
    </script>
</body>
</html>
