@using MainWork.Models;

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var account = "";

    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Admin/login/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
        if (account != "aaa")
        {
            Response.Redirect("~/Admin/login/");
        }
        else
        {

        }
    }
    var albums = ViewBag.albums as IEnumerable<tAlbum>;
    var eventNow = ViewBag.eventNow as IEnumerable<tActivity>;
    var eventLater = ViewBag.eventLater as IEnumerable<tActivity>;

}

<style>
    .bigBox{
    }
    .smallbox{
        display:inline-block;
        margin-right:20px;
    }
    .panel {
        width: 100%;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin: 20px 0px 0px 60px;
        background-color: rgba(206, 226, 231, 0.30);
    }

    .title {
        font-weight: 800;
        font-size: 24px;
        margin: 20px 60px;
    }

    .tableTitle {
        background-color: #85cee4;
    }

        .tableTitle > th {
            color: #2976cc;
        }

    .trItem {
        border-bottom: 1px solid white;
        cursor: pointer;
    }
    tr{
        background-color: #c9e1e5;
    }
</style>

<div class="bigBox row">
    <div class="smallbox col-6">
        <div class="title">待審查的音樂</div>
        <div class="panel">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="tableTitle">
                        <th scope="col">送審日期</th>
                        <th scope="col">專輯名稱</th>
                    </tr>
                </thead>
                <tbody>
                    @if (albums.FirstOrDefault() == null)
                    {
                        <tr><td colspan="3">目前沒有待審中的專輯</td></tr>
                    }
                    else
                    {

                    }
                    @foreach (var item in albums)
                    {
                        <tr>
                            <td>@(((DateTime)item.fYear).ToLongDateString())</td>
                            <td>@item.fAlbumName</td>
                        </tr>
                    }
                    @if (albums.Count() >= 5)
                    {
                        <tr><td colspan="3" class="text-right">......更多</td></tr>
                    }

                </tbody>
            </table>
            <div class="text-right mt-3">
                <a href="@Url.Action("MusicReview","Admin")">前往音樂審核頁面</a>
            </div>
        </div>
    </div>

    <div class="smallbox ">
        <div class="title">舉辦中的活動</div>
        <div class="panel">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="tableTitle">
                        <th scope="col">活動名稱</th>
                        <th scope="col">結束日期</th>
                    </tr>
                </thead>
                <tbody>
                    @if (eventLater.FirstOrDefault() == null)
                    {
                        <tr><td colspan="3">目前沒有進行中的活動</td></tr>
                    }
                    else
                    {
                        foreach (var item in eventLater)
                        {
                            <tr>
                                <td>@item.fTitle</td>
                                <td>@(((DateTime)item.fEndTime).ToShortDateString())</td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
        <div class="title">即將舉辦的活動</div>
        <div class="panel">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="tableTitle">
                        <th scope="col">活動名稱</th>
                        <th scope="col">開始日期</th>
                    </tr>
                </thead>
                <tbody>
                    @if (eventNow.FirstOrDefault() == null)
                    {
                        <tr><td colspan="3">一週內沒有即將舉行的活動</td></tr>
                    }
                    else
                    {
                        foreach (var item in eventNow)
                        {
                            <tr>
                                <td>@item.fTitle</td>
                                <td>@(((DateTime)item.fStartTime).ToShortDateString())</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>




        </div>
    </div>
</div>



<script>

</script>