@model IEnumerable<MainWork.tAlbum>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fAlbumID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fAlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fMaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fALPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fCoverPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fKinds)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fAlbumID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fAlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fMaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fALPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCoverPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fKinds)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
